---
- name: Post login image for OOD installation
  when: in_login_image|default(False)
  block:
    - name: Remove '{{ ood_apps_admin_group }}' group
      group:
        name: '{{ ood_apps_admin_group }}'
        gid: '150'
        system: 'yes'
        state: absent

