[Unit]
Description=Luna Server torrent
After=network.target
Requires=mongod.service

[Service]
Type=forking
PIDFile=/var/run/luna/ltorrent.pid
ExecStart=/usr/sbin/ltorrent start
ExecStop=/usr/sbin/ltorrent stop

[Install]
WantedBy=multi-user.target
