[Unit]
Description=Luna Server part
After=network.target
Requires=mongod.service

[Service]
Type=forking
PIDFile=/var/run/luna/lweb.pid
ExecStart=/usr/sbin/lweb start
ExecStop=/usr/sbin/lweb stop

[Install]
WantedBy=multi-user.target
