---

- block:
  - name: Load a variable file based on the OS type, or a default if not found. Using free-form to specify the file.
    include_vars: "{{ item }}"
    with_first_found:
      - "{{ ansible_distribution }}{{ ansible_distribution_major_version}}.yaml"
      - "{{ ansible_os_family }}{{ ansible_distribution_major_version}}.yaml"
    ignore_errors: true

  - name: Install H/A packages
    yum:
      name: '{{ ha_packages }}'
      state: present
      enablerepo: 
        - ha
        - resilientstorage

  - name: Verify if corosync key exists
    stat:
      path: "{{ trix_shared }}/corosync/authkey"
    register: stat_corosync_key

  - block:
    - name: Ensure corosync shared directory exists
      file:
        path: '{{ trix_shared }}/corosync'
        state: directory

    - name: Create corosync key
      shell: "corosync-keygen"

    - name: Copy corosync key to shared storage
      copy:
        src: '/etc/corosync/authkey'
        dest: '{{ trix_shared }}/corosync/'
        mode: '0640'
    when: 
      - not stat_corosync_key.stat.exists
      - primary

  - block:
    - name: Temporarily mount trinity/shared from controller1
      shell: "mount {{ trix_ctrl1_ip }}:{{ trix_shared }} {{ trix_shared }}"

    - name: Copy corosync key from shared storage
      copy:
        src: '{{ trix_shared }}/corosync/authkey'
        dest: '/etc/corosync/'
        mode: '0640'

    - name: Umount trinity/shared
      shell: "umount -l {{ trix_shared }}"
    when: 
      - not primary

  - name: Configure corosync
    template:
      src: "corosync.conf.j2"
      dest: "/etc/corosync/corosync.conf"
    notify:
      - restart corosync

  # TODO: better way than below
  - name: Install PCS
    ansible.builtin.shell: |
      source /trinity/local/python/bin/activate
      pip3 install --upgrade {{ pcs_noarch_pip_repository }}/{{ pcs_pip }}
      exit $?
    args:
      executable: /bin/bash
    when: pcs_pip is defined

  # TODO: better way than below
  - name: Install PCS
    ansible.builtin.shell: |
      source /trinity/local/python/bin/activate
      pip3 install --upgrade -i {{ pcs_noarch_pip_repository }}/ pcs
      exit $?
    args:
      executable: /bin/bash
    when: pcs_pip is not defined

  - name: Get python libdir
    shell: "echo /trinity/local/python/lib/python*"
    register: luna2_python_dir
    changed_when: false

  - name: Install ruby gems
    shell: "/bin/bash {{ luna2_python_dir.stdout }}/site-packages/pcs/cv/gems.sh"
    ignore_errors: true

  - name: Install PCS wrapper
    copy:
      src: 'pcs'
      dest: '/usr/local/sbin/'
      owner: 'root'
      group: 'root'
      mode: '0755'

  - name: Ensure corosync service.d directory exists
    file:
      path: /etc/corosync/service.d/
      state: directory

  - name: Adding pcmk service to corosync
    copy:
      src: "{{ item }}"
      dest: "/etc/corosync/service.d/"
    with_items:
      - pcmk

  - name: Start pacemaker service
    service:
      name: pacemaker
      state: started
      enabled: true

  - name: Start corosync service
    service:
      name: corosync
      state: started
      enabled: true

  - block
    - name: Add floating IP resource
      pcs_resource:
        name: 'trinity-ip'
        resource_type: 'ocf:heartbeat:IPaddr2'
        options: 'ip={{ trix_ctrl_ip }} nic={{ trix_ctrl_interface }} cidr_netmask={{ trix_cluster_netprefix }} op monitor interval=29s --group Trinity'
        state: present
    when: primary

  when: ha | default(False)

