{{ ansible_managed | comment }}

# TrinityX shared disk resource file

{% set port = [7789] -%}

{% for disk in drbd_fs_disks %}
resource {{ disk.name | replace("/","_") }} {
    device    {{ disk.device }};
    disk      {{ disk.disk }};
    meta-disk internal;

    net {
        # Default policies after split brain is detected. This is the safe
        # behaviour, i.e. it will not destroy data and will disconnect the disks
        # if it cannot resync cleanly.

        after-sb-0pri discard-zero-changes;
        after-sb-1pri consensus;
        after-sb-2pri disconnect;
        protocol      C;
        transport     "tcp";
#        transport     "rdma";

        fencing resource-and-stonith;
        verify-alg sha1;
    }
    handlers {
        fence-peer "/usr/lib/drbd/crm-fence-peer.9.sh";
        unfence-peer "/usr/lib/drbd/crm-unfence-peer.9.sh";
    }

    on "{{ trix_ctrl1_hostname }}" {
        node-id   0;
        address   {{ drbd_ctrl1_ip }}:{{ port[0] }};
    }

    on "{{ trix_ctrl2_hostname }}" {
        node-id   1;
        address   {{ drbd_ctrl2_ip }}:{{ port[0] }};
    }

{% if trix_ctrl3_hostname is defined %}
    on "{{ trix_ctrl3_hostname }}" {
        node-id   2;
        address   {{ drbd_ctrl3_ip }}:{{ port[0] }};
    }
{% endif %}

{% if trix_ctrl4_hostname is defined %}
    on "{{ trix_ctrl4_hostname }}" {
        node-id   3;
        address   {{ drbd_ctrl4_ip }}:{{ port[0] }};
    }
{% endif %}

    connection-mesh {
        hosts     "{{ trix_ctrl1_hostname }}" "{{ trix_ctrl2_hostname }}"
{%- if trix_ctrl3_hostname is defined %}
 "{{ trix_ctrl3_hostname }}" 
{%- endif -%}
{%- if trix_ctrl3_hostname is defined %}
 "{{ trix_ctrl3_hostname }}" 
{%- endif -%};
    }
}

{% if port.append(port.pop() + 1) %}{% endif %}
{% endfor %}


