{% for disk in shared_lvm_disks %}
{% if disk['fstype'] == 'lvm' %}
{% if 'disk' in disk %}
{{ disk['disk'] }}
{% else %}
{% if 'device' in disk %}
!{{ disk['device'] }}
{% endif %}
{% endif %}
{% endif %}
{% endfor -%}
