{{ ansible_managed | comment }}

# TrinityX shared disk resource file

{% set port = [7789] -%}

{% for disk in drbd_fs_disks %}
resource {{ disk.name }} {
    net {
        # Default policies after split brain is detected. This is the safe
        # behaviour, i.e. it will not destroy data and will disconnect the disks
        # if it cannot resync cleanly.

        after-sb-0pri discard-zero-changes;
        after-sb-1pri consensus;
        after-sb-2pri disconnect;
    }

    on {{ trix_ctrl1_hostname }} {
        device    {{ disk.device }};
        disk      {{ disk.disk }};
        address   {{ drbd_ctrl1_ip }}:{{ port[0] }};
        meta-disk internal;
    }

    on {{ trix_ctrl2_hostname }} {
        device    {{ disk.device }};
        disk      {{ disk.disk }};
        address   {{ drbd_ctrl2_ip }}:{{ port[0] }};
        meta-disk internal;
    }

{% if trix_ctrl3_hostname is defined %}
    on {{ trix_ctrl3_hostname }} {
        device    {{ disk.device }};
        disk      {{ disk.disk }};
        address   {{ drbd_ctrl3_ip }}:{{ port[0] }};
        meta-disk internal;
    }
{% endif %}

{% if trix_ctrl4_hostname is defined %}
    on {{ trix_ctrl4_hostname }} {
        device    {{ disk.device }};
        disk      {{ disk.disk }};
        address   {{ drbd_ctrl4_ip }}:{{ port[0] }};
        meta-disk internal;
    }
{% endif %}
}

{% if port.append(port.pop() + 1) %}{% endif %}
{% endfor %}


