---
# tasks file for nfs

- name: Install nfs packages
  yum:
    name: '{{ nfs_packages }}'
    state: present
  tags: install-only

- name: Enable NFS over RDMA
  set_fact:
    nfs_proto: '{{ "rdma" if nfs_enable_rdma == true else "tcp" }}'

- name: Create {{ nfs_exports_path }} if needed
  file:
    path: '{{ nfs_exports_path }}'
    state: directory
  when: primary | default(True)
      
- name: Setup NFS exports in {{ nfs_exports_path }}
  template:
    src: '{{ "HA_exports.j2" if ha == true else "nonHA_exports.j2" }}'
    dest: '{{ nfs_exports_path }}/trinity.exports'
  when: primary | default(True)

- name: Add link to the exports file in /etc/exports.d
  file:
    src: '{{ nfs_exports_path }}/trinity.exports'
    dest: '/etc/exports.d/trinity.exports'
    state: link
    force: yes
    follow: no
  when: nfs_exports_path|string not in '/etc/exports.d'

- name: Render nfsmount.conf configuration file
  template:
    src: 'nfsmount.conf.j2'
    dest: '/etc/nfsmount.conf'

- name: Start and enable nfs server
  service:
    name: nfs-server
    state: started
    enabled: yes
  when: not ha|default(False)

- block:

  - name: Create shared directory for data that should survive a failover
    file:
      path: '{{ trix_local }}/var/lib/nfs'
      state: directory
  
  when: primary|default(True) and ha|default(False)
