---
{{ ansible_managed | comment }}
{% if false and (prometheus_server_auth.enabled) %}
basic_auth_users:
  {{ prometheus_server_auth_user }}: {{ prometheus_server_auth_password | password_hash('bcrypt') }}
{% endif %}
{% if prometheus_server_tls.enabled %}
tls_server_config:
  cert_file: {{ prometheus_server_tls.cert_file }}
  key_file: {{ prometheus_server_tls.key_file }}
  insecure_skip_verify: {{ prometheus_server_tls.allow_insecure }}
{% endif %}

