groups:
- name: job_state
  rules:
    - record: slurm_job_info_latest
      expr: last_over_time(slurm_job_info[365d])

- name: cores
  rules:
  - record: node_cores
    expr: count by (hostname,luna_group) (count(node_cpu_seconds_total) without (mode)) 

  - record: node_gpus
    expr: |
      ( count by (hostname,luna_group) (nvidia_smi_name) + count by (hostname,luna_group) ( rocm_smi_device_info ) ) OR
      ( count by (hostname,luna_group) (nvidia_smi_name) ) OR
      ( count by (hostname,luna_group) (rocm_smi_device_info) )

- name: power_consumption
  rules:
  - record: power_consumption_watts
    expr: sum by (hostname,luna_group) (ipmi_dcmi_power_consumption_watts) 
  
  - record: power_consumption_cpu_watts
    expr: |
      ( power_consumption_watts - sum by (hostname,luna_group) (nvidia_smi_power_draw_watts) - sum by (hostname,luna_group) (rocm_smi_current_power_watts) ) OR
      ( power_consumption_watts - sum by (hostname,luna_group) (nvidia_smi_power_draw_watts) ) OR
      ( power_consumption_watts - sum by (hostname,luna_group) (rocm_smi_current_power_watts) ) OR
      power_consumption_watts

  - record: power_consumption_gpu_watts
    expr: |
      ( sum by (hostname,luna_group) (nvidia_smi_power_draw_watts) + sum by (hostname,luna_group) (rocm_smi_current_power_watts) ) OR
      ( sum by (hostname,luna_group) (nvidia_smi_power_draw_watts) ) OR
      ( sum by (hostname,luna_group) (rocm_smi_current_power_watts) )

- name: power_consumption_per_unit
  rules:
  - record: power_consumption_per_cpu_watts
    expr: power_consumption_cpu_watts / node_cores

  - record: power_consumption_per_gpu_watts
    expr: power_consumption_gpu_watts / node_gpus
