[ req ]                   
distinguished_name = req_distinguished_name         
req_extensions     = req_ext                        
[ req_distinguished_name ]                          
countryName         = Country Name (2 letter code)  
stateOrProvinceName = State or Province Name (full name)                                                 
localityName        = Locality Name (eg, city)      
organizationName    = Organization Name (eg, company)                                                    
commonName          = Common Name (e.g. server FQDN)                                        

[ req_ext ]               
subjectAltName = @alt_names                         

[alt_names]
{% set all_ssl_cert_altname = [] -%}
{% for alt_list in ssl_cert_altname -%}
{% if isinstance(alt_list, list) -%}
{% for alt_name in alt_list|unique -%}
{% ssl_cert_altname.append(alt_name)
{% endfor -%}
{% else -%}
{% ssl_cert_altname.append(alt_list) -%}
{% endif -%}
{% endfor -%}
{% for alt_name in all_ssl_cert_altname|unique -%}
DNS.{{ loop.index }} = {{ alt_name }}
{% endfor -%}
