---

- name: Loading controller luna2 role
  include_tasks: "controller.yml"
  when: 
    - on_controller
    - not extend_image | default(False)

- name: Loading node and images luna2 role
  include_tasks: "nodes.yml"
