#!/bin/bash

{% for app in ood_apps %}
echo 'Changing permission for {{ app.name }}'
chgrp {{ app.group | default(ood_apps_admin_group) }} {{ trix_local }}/ondemand/3.0/{{ app.name }}
{% endfor %}
chgrp {{ app.group | default(ood_apps_admin_group) }} {{ trix_local }}/ondemand/3.0/config/luna.ini

