---
- name: Include password tasks
  include_role:
    name: trinity/password

- name: Include ssh tasks
  include_role: 
    name: trinity/ssh
  vars:
    extend_image: true

- name: Include luna2 tasks
  include_role: 
    name: trinity/luna2
  vars:
    extend_image: true

- name: Add dracut.conf.d entries
  template:
    src: trinity.conf.j2
    dest: "{{ image_path}}/etc/dracut.conf.d/trinity.conf"

# - name: Copy gpg keys
#  copy:
#    remote_src: true
#    src: "/etc/pki/rpm-gpg"
#    dest: "{{ image_path }}/etc/pki/"

- name: Removing existing local disk mounts
  lineinfile:
    dest: "{{ image_path }}/etc/fstab"
    state: absent
    regexp: ' {{ item }} '
  with_items:
    - '/'
    - 'swap'
    - '/tmp'
    - '/boot.*'
    - '/var.*'

- name: Configuring resolv.conf
  copy:
    dest: "{{ image_path }}/etc/resolv.conf"
    content: "nameserver {{ trix_ctrl_ip }}"

