stages:
  - test

variables:
  INSIDE_RUNNER: "true"

rollout:
  stage: test
  when: manual
  
  parallel:
    matrix:
    - TAG: "rocky8"
    - TAG: "rocky9"
    - TAG: "centos8"
    - TAG: "centos9"
    - TAG: "rhel8"
    - TAG: "rhel9"
    # - TAG: "alma8"
    # - TAG: "alma9"
    
  tags:
  - $TAG
  - "vm"
  
  script:
  - echo Setup Network 
  - ip link add eth000 type dummy
  - ip link set eth000 up
  - ip a a 10.141.255.254/16 dev eth000

  - echo Setup site/hosts and site/group_vars/all.yml 
  - "cp site/hosts.example site/hosts"
  - "cp site/group_vars/all.yml.example site/group_vars/all.yml"
  - "sed -i -E \"s/ens6/eth000/\" site/group_vars/all.yml"
  - "if [ \"$CI_COMMIT_REF_NAME\" != \"master\" ] && [ \"$CI_COMMIT_REF_NAME\" != \"main\" ]; then sed -i -E \"s/trix_stream: '[a-z]+'/trix_stream: 'testing'/\" site/group_vars/all.yml; fi"

  - echo Run prepare
  - ./prepare.sh

  - echo Run controller
  - "( cd site && ansible-playbook controller.yml )"

  - echo Run compute
  - "( cd site && ansible-playbook compute-redhat.yml )"
  - "( cd site && ansible-playbook compute-ubuntu.yml )"


ha-rollout:
  stage: test
  when: manual
  
  parallel:
    matrix:
    - TAG: "rocky8"
    - TAG: "rocky9"
    - TAG: "centos8"
    - TAG: "centos9"
    - TAG: "rhel8"
    - TAG: "rhel9"
    # - TAG: "alma8"
    # - TAG: "alma9"
    
  tags:
  - $TAG
  - "vm"
  - "ha"
  
  script:
  - ssh-keygen -F $SECONDARY_VM_IP || ssh-keyscan $SECONDARY_VM_IP >> ~/.ssh/known_hosts

  - echo Setup Network on Primary
  - ip a a 10.141.255.254/16 dev ens224
  - ip a a 10.146.255.254/16 dev ens224
  - echo Setup Network on Secondary
  - ssh $SECONDARY_VM_IP ip a a 10.141.255.253/16 dev ens224
  - ssh $SECONDARY_VM_IP ip a a 10.146.255.253/16 dev ens224

  - echo Setup site/hosts and site/group_vars/all.yml on Primary
  - "cp site/hosts.example site/hosts"
  - "cp site/group_vars/all.yml.example site/group_vars/all.yml"
  - "sed -i -E \"s/ens6/ens224/\" site/group_vars/all.yml"
  - "sed -i -E \"s/disk: '\\/dev\\/vda'/disk: '\\/dev\\/sdb'/\" site/group_vars/all.yml"
  - "sed -i -E \"s/ha: false/ha: true/\" site/group_vars/all.yml"
  - "sed -i -E \"s/enable_ipmilan_fencing: true/enable_ipmilan_fencing: false/\" site/group_vars/all.yml"
  - "if [ \"$CI_COMMIT_REF_NAME\" != \"master\" ] && [ \"$CI_COMMIT_REF_NAME\" != \"main\" ]; then sed -i -E \"s/trix_stream: '[a-z]+'/trix_stream: 'testing'/\" site/group_vars/all.yml; fi"

  - echo Setup site/hosts and site/group_vars/all.yml on Secondary
  - "scp -r . $SECONDARY_VM_IP:"

  - echo Run prepare on Primary
  - ./prepare.sh
  - echo Run prepare on Secondary
  - ssh $SECONDARY_VM_IP ./prepare.sh

  - echo Run controller on Primary
  - "( cd site && ansible-playbook controller.yml )"
  - echo Run controller on Secondary
  - ssh $SECONDARY_VM_IP "( cd site && ansible-playbook controller.yml )"

  - echo Run compute on Primary
  - "( cd site && ansible-playbook compute-redhat.yml compute-ubuntu.yml )"

