[submodule "site/roles/trinity/grafana"]
	path = site/roles/trinity/grafana
	url = http://gitlab.clustervision.lan/trinityx/role-grafana.git
[submodule "site/roles/trinity/influxdb"]
	path = site/roles/trinity/influxdb
	url = http://gitlab.clustervision.lan/trinityx/role-influxdb.git
[submodule "site/roles/trinity/telegraf"]
	path = site/roles/trinity/telegraf
	url = http://gitlab.clustervision.lan/trinityx/role-telegraf.git
[submodule "site/roles/trinity/slurm"]
	path = site/roles/trinity/slurm
	url = http://gitlab.clustervision.lan/trinityx/role-slurm.git
[submodule "site/roles/trinity/openhpc"]
	path = site/roles/trinity/openhpc
	url = http://gitlab.clustervision.lan/trinityx/role-openhpc.git
[submodule "site/roles/trinity/pbspro"]
	path = site/roles/trinity/pbspro
	url = http://gitlab.clustervision.lan/trinityx/role-pbspro.git
[submodule "site/roles/trinity/sssd"]
	path = site/roles/trinity/sssd
	url = http://gitlab.clustervision.lan/trinityx/role-sssd.git
[submodule "site/roles/trinity/openldap"]
	path = site/roles/trinity/openldap
	url = http://gitlab.clustervision.lan/trinityx/role-openldap.git
[submodule "site/roles/trinity/bind"]
	path = site/roles/trinity/bind
	url = http://gitlab.clustervision.lan/trinityx/role-bind.git
[submodule "site/roles/trinity/luna"]
	path = site/roles/trinity/luna
	url = http://gitlab.clustervision.lan/trinityx/role-luna.git
[submodule "site/roles/trinity/mongodb"]
	path = site/roles/trinity/mongodb
	url = http://gitlab.clustervision.lan/trinityx/role-mongodb.git
[submodule "site/roles/trinity/chrony"]
	path = site/roles/trinity/chrony
	url = http://gitlab.clustervision.lan/trinityx/role-chrony.git
[submodule "site/roles/trinity/firewalld"]
	path = site/roles/trinity/firewalld
	url = http://gitlab.clustervision.lan/trinityx/role-firewalld.git
[submodule "site/roles/trinity/fail2ban"]
	path = site/roles/trinity/fail2ban
	url = http://gitlab.clustervision.lan/trinityx/role-fail2ban.git
[submodule "site/roles/trinity/cv_support"]
	path = site/roles/trinity/cv_support
	url = http://gitlab.clustervision.lan/trinityx/role-cv_support.git
[submodule "site/roles/trinity/init"]
	path = site/roles/trinity/init
	url = http://gitlab.clustervision.lan/trinityx/role-init.git
[submodule "site/roles/trinity/local_repo"]
	path = site/roles/trinity/local_repo
	url = http://gitlab.clustervision.lan/trinityx/role-local_repo.git
[submodule "site/roles/trinity/repos"]
	path = site/roles/trinity/repos
	url = http://gitlab.clustervision.lan/trinityx/role-repos.git
[submodule "site/roles/trinity/packages"]
	path = site/roles/trinity/packages
	url = http://gitlab.clustervision.lan/trinityx/role-packages.git
[submodule "site/roles/trinity/tunables"]
	path = site/roles/trinity/tunables
	url = http://gitlab.clustervision.lan/trinityx/role-tunables.git
[submodule "site/roles/trinity/hostname"]
	path = site/roles/trinity/hostname
	url = http://gitlab.clustervision.lan/trinityx/role-hostname.git
[submodule "site/roles/trinity/rdma-centos"]
	path = site/roles/trinity/rdma-centos
	url = http://gitlab.clustervision.lan/trinityx/role-rdma-centos.git
[submodule "site/roles/trinity/ssh"]
	path = site/roles/trinity/ssh
	url = http://gitlab.clustervision.lan/trinityx/role-ssh.git
[submodule "site/roles/trinity/pacemaker"]
	path = site/roles/trinity/pacemaker
	url = http://gitlab.clustervision.lan/trinityx/role-pacemaker.git
[submodule "site/roles/trinity/drbd"]
	path = site/roles/trinity/drbd
	url = http://gitlab.clustervision.lan/trinityx/role-drbd.git
[submodule "site/roles/trinity/trix-tree"]
	path = site/roles/trinity/trix-tree
	url = http://gitlab.clustervision.lan/trinityx/role-trix-tree.git
[submodule "site/roles/trinity/nfs"]
	path = site/roles/trinity/nfs
	url = http://gitlab.clustervision.lan/trinityx/role-nfs.git
[submodule "site/roles/trinity/ssl-cert"]
	path = site/roles/trinity/ssl-cert
	url = http://gitlab.clustervision.lan/trinityx/role-ssl-cert.git
[submodule "site/roles/trinity/obol"]
	path = site/roles/trinity/obol
	url = http://gitlab.clustervision.lan/trinityx/role-obol.git
[submodule "site/roles/trinity/mariadb"]
	path = site/roles/trinity/mariadb
	url = http://gitlab.clustervision.lan/trinityx/role-mariadb.git
[submodule "site/roles/trinity/rsyslog"]
	path = site/roles/trinity/rsyslog
	url = http://gitlab.clustervision.lan/trinityx/role-rsyslog.git
[submodule "site/roles/trinity/docker-registry"]
	path = site/roles/trinity/docker-registry
	url = http://gitlab.clustervision.lan/trinityx/role-docker-registry.git
[submodule "site/roles/trinity/wrapup"]
	path = site/roles/trinity/wrapup
	url = http://gitlab.clustervision.lan/trinityx/role-wrapup.git
[submodule "site/roles/trinity/check-latest-kernel"]
	path = site/roles/trinity/check-latest-kernel
	url = http://gitlab.clustervision.lan/trinityx/role-check-latest-kernel.git
[submodule "site/roles/trinity/nginx"]
	path = site/roles/trinity/nginx
	url = http://gitlab.clustervision.lan/trinityx/role-nginx.git
[submodule "site/roles/trinity/docker"]
	path = site/roles/trinity/docker
	url = http://gitlab.clustervision.lan/trinityx/role-docker.git
[submodule "site/roles/trinity/environment-modules"]
	path = site/roles/trinity/environment-modules
	url = http://gitlab.clustervision.lan/trinityx/role-environment-modules.git
[submodule "site/roles/trinity/nfs-mounts"]
	path = site/roles/trinity/nfs-mounts
	url = http://gitlab.clustervision.lan/trinityx/role-nfs-mounts.git
[submodule "site/roles/trinity/init-nodes"]
	path = site/roles/trinity/init-nodes
	url = http://gitlab.clustervision.lan/trinityx/role-init-nodes.git
[submodule "site/roles/trinity/wrapup-images"]
	path = site/roles/trinity/wrapup-images
	url = http://gitlab.clustervision.lan/trinityx/role-wrapup-images.git
[submodule "site/roles/trinity/image-create"]
	path = site/roles/trinity/image-create
	url = http://gitlab.clustervision.lan/trinityx/role-image-create.git
[submodule "site/roles/trinity/nscd"]
	path = site/roles/trinity/nscd
	url = http://gitlab.clustervision.lan/trinityx/role-nscd.git
