[opensuse]
name=OpenSUSE {{ opensuse_release|default('Leap 15.6') }}
baseurl=https://download.opensuse.org/distribution/{{ opensuse_release|default('leap/15.6') }}/repo/oss/
{% endif %}
{% if for_image|default(False) %}
enabled=1
{% else %}
enabled=0
{% endif %}
gpgcheck=0
