# [Unit]
# Description=Transmission BitTorrent Daemon
# After=network.target


[Service]
# User=transmission
# Type=notify
ExecStart={{transmission_start_cmd}}
# ExecReload=/bin/kill -s HUP $MAINPID
# NoNewPrivileges=true


# [Install]
# WantedBy=multi-user.target
