{{ ansible_managed | comment }}

# Kernel sysctl configuration file for compute node.
#

# Controls IP packet forwarding
net.ipv4.ip_forward = 1

# Controls source route verification
net.ipv4.conf.default.rp_filter = 1

# Controls the System Request debugging functionality of the kernel
kernel.sysrq = 0

# Controls whether core dumps will append the PID to the core filename.
# Useful for debugging multi-threaded applications.
kernel.core_uses_pid = 1

# Other limits
kernel.msgmni = 1024

# Optimisations
net.ipv4.ip_local_port_range = 32768 61000
# Max open files
fs.file-max=65536
# Allow more connections to be handled
# decrease timeout connection
net.ipv4.tcp_fin_timeout = 30
# Decrease time default for alive time
net.ipv4.tcp_keepalive_time = 1800
# Increase nfs performance
net.core.rmem_default=262144
net.core.rmem_max=262144

# Shared memory
kernel.shmmax=4294967296
kernel.shmmni=20960
kernel.shmall=4294967296
kernel.sem = 250 32000 100 128

# Turn on ARP filtering (this allows multiple NICs to be on the same network)
net.ipv4.conf.all.arp_filter = 1

# Turn off kernel address space randomization for Intel Cluster Checker
kernel.randomize_va_space = 0

# Increase size of ARP tables
net.ipv4.neigh.default.gc_thresh1=2048
net.ipv4.neigh.default.gc_thresh2=4096
net.ipv4.neigh.default.gc_thresh3=8192

# Improve memory allocation after high I/O
#vm.zone_reclaim_mode = 3

# Fix memory performance problems on NUMA systems with >22GB RAM
vm.numa_zonelist_order = N

# Memory that is kept free for use by special reserves including atomi (or reclaim).
vm.min_free_kbytes={{ (ansible_memtotal_mb|default(8192, true) * 1024 * 0.05) | int }}

# This prevents ARP replies on the wrong interface
net.ipv4.conf.all.arp_ignore = 1

fs.file-max=262144

