{{ ansible_managed | comment }}

# ClusterVision: added to allow memlock permissions for User space Infiniband verbs
 * hard memlock unlimited
 * soft memlock unlimited
# ClusterVision: added for OpenIB gen2 stack.
 * - memlock unlimited
# ClusterVision: added for making sure stack size is not limited.
* - stack unlimited
# ClusterVision: increase max open files limit
 * - nofile 65536

