---
# tasks file for nfs-mounts

- name: Install nfs packages
  yum:
    name: '{{ nfs_packages }}'
    state: present

- name: Setup NFS mounts
  mount:
    path: '{{ item.path }}'
    src: '{{ item.remote }}'
    fstype: 'nfs'
    opts: '{{ item.options }},proto={{ "rdma" if nfs_enable_rdma else "tcp" }}'
    state: '{{ "mounted" if compute else "present" }}'
  with_items: '{{ nfs_mounts }}'
