---
v2:
  metadata:
    title: "{{ cluster_name }}"
  login:
    host: "{{ login_host }}"
  job:
    adapter: "slurm"
    bin: "/bin/"
    conf: "/etc/slurm/slurm.conf"
    bin_overrides:
      sbatch: "/usr/bin/sbatch"
      squeue: "/usr/bin/squeue"
      scontrol: "/usr/bin/scontrol"
      scancel: "/usr/bin/scancel"
  batch_connect:
    basic:
      script_wrapper: |
        module purge
        %s
#    vnc:
#      script_wrapper: "module add ood-vnc\n%s"      

