---
name: Grafana
description: |-
  Grafana app hyperlink
category: Monitoring 
icon: fa://chart-line
url: {{'https' if enable_ssl else 'http'}}://{{trix_ctrl_hostname}}.{{trix_domain}}:3000
external_link: true