---
name: grafana
description: |-
  Grafana app hyperlink
category: Monitoring 
icon: fa://stethoscope
url: {{'https' if enable_ssl else 'http'}}://{{trix_ctrl_hostname}}.{{trix_domain}}:3000
external_link: true