{% if ood_portal_brand == 'TrinityX' %}
pun_custom_env:
  OOD_DASHBOARD_TITLE: "TrinityX Cluster Portal"
  OOD_BRAND_BG_COLOR: "#f8f8f8"
  OOD_BRAND_LINK_ACTIVE_BG_COLOR: "#f2bb02"
  OOD_DASHBOARD_LOGO: "/public/trix_logo.png"
  OOD_DASHBOARD_HEADER_IMG_LOGO: "/public/trix_logo.png"
  OOD_NAVBAR_TYPE: "default"
{% endif %}
passenger_python: "/trinity/local/python/bin/python3"
proxy_user: "{{ ood_user }}"
