--- 

{% if enable_ssl %}
ssl:
  - 'SSLCertificateFile "{{ ssl_certificate }}"'
  - 'SSLCertificateKeyFile "{{ ssl_certificate_key }}"'
{% endif %}

port: {{ ood_port }}
listen_addr_port: {{ ood_port }}
#servername: {{ login_host }}

#use_rewrites: true
#use_maintenance: true
#maintenance_ip_allowlist:
#- 10.*

pun_stage_cmd: 'sudo /opt/ood/nginx_stage/sbin/nginx_stage'

host_regex: '[\w.-]+\.{{ trix_domain }}'
node_url: '/node'
rnode_uri: '/rnode'

dex_uri: /dex

dex:
  connectors:
    - type: ldap
      id: ldap
      name: LDAP
      config:
        host: "{{ ldap_host }}:636"
        insecureSkipVerify: true
        userSearch:
          baseDN: ou=People,dc=local
          filter: "(objectClass=posixAccount)"
          username: uid
          emailAttr: uid
          idAttr: uid
          preferredUsernameAttr: uid
        groupSearch:
          baseDN: ou=Groups,dc=local
          filter: "(objectClass=posixGroup)"
          userMatchers:
            - userAttr: DN
              groupAttr: member
          nameAttr: cn
