
################################################################################
##
##  CENTRAL CONFIGURATION FILE
##
##  Setup for a compute node
##
##          **  DO NOT APPLY THIS CONFIGURATION SCRIPT BY HAND **
##
################################################################################

# This file is a valid Bash script that will be sourced by the installer script
# to obtain the configuration for the type of node.


#===============================================================================
#
#  GENERAL CONFIGURATION
#
#===============================================================================

# Directory in which the post scripts are located.
# If it is a relative path, then it is relative to the directory where this file
# resides.

POSTDIR="."

# Array of required post scripts, in the order in which they will run.
# NOTE: Those are basenames, without any extension -- not the actual name of the
#       script files themselves.

POSTLIST=( \
            standard-configuration-nodes \
#            hosts-nodes \
            local-repos \
            base-packages \
            additional-repos \
            additional-packages \
            chronyd \
            environment-modules \
            rdma-centos \
#            nfs-nodes \
#            ldap-nodes \
         )


# Because the image creation happens inside a chroot, there are plenty of things
# that we cannot do (like starting / stopping services). We need a way to tell
# the scripts that it's the case. Here is it:

CHROOT_INSTALL=1



#===============================================================================
#
#  SCRIPT-SPECIFIC CONFIGURATION
#
#===============================================================================

#-----------------------------------------------------------
# standard-configuration-nodes
#-----------------------------------------------------------

# Permit SSH login as root? (0 or 1)

STDCFG_SSHROOT=1


#-----------------------------------------------------------
# local-repos
#-----------------------------------------------------------

# Disable all remote repositories?
# This is only useful for offline installations where the systems will be
# permanently cut off from the internet. In that case there's no point trying to
# connect to the remote servers.
# You will need to populate a local repository with all the packages that will
# be needed during the installation.
# Don't disable them if you're not 100% sure of what you're doing.
# Set to 1 to disable them, comment out otherwise.

#REPOS_DISABLE_REMOTE=0


#-----------------------------------------------------------
# additional-repos
#-----------------------------------------------------------

# List of repository GPG key files.
# There is no coherent naming convention for those, so list them all here.
# They should be available in the "additional-repos" subdirectory.

ADDREPOS_KEYS="RPM-GPG-KEY-elrepo.org RPM-GPG-KEY-ZABBIX"


#-----------------------------------------------------------
# chronyd
#-----------------------------------------------------------

# List of upstream NTP servers, space-separated.
# If commented out, the default pool servers will be used.

CHRONY_UPSTREAM="$CONTROLLERS"

# Provide NTP service on the internal networks?
# - if comment out or set to 0, it will be disabled.
# - if set to 1, it will run for all networks.
# - if set to a space-separated list of subnets, it will run only for those
#   subnets. See the chrony documentation for the exact syntax:
#   https://chrony.tuxfamily.org/manual.html

#CHRONY_SERVER=1

