---
# This file contains variables that are global to all playbooks
# in this repository.

#########################################################################
#                         AWS Account                                   #
#########################################################################

# -----------------------------------------------------------------------
# AWS Account Credentials, E-Mail & Password
aws_faceless_account: 'user@company.com'
aws_faceless_account_password: ''

# -----------------------------------------------------------------------
# AWS Installation throw which technique
# Possible values are: aws or terraform 
aws_installer: 'terraform'

# -----------------------------------------------------------------------
# Use Case of Installation
aws_controller: true
aws_node: true

aws_cluster_net: 10.2.0.0
aws_cluster_netprefix: 16
aws_cluster_dhcp_start: 10.2.128.0
aws_cluster_dhcp_end: 10.2.140.0

aws_ctrl_hostname: aws-controller1
aws_ctrl_ip: 10.2.255.254

aws_subscription_id: ''
aws_client_id: ''
aws_client_secret: ''
aws_tenant_id: ''
aws_resource_group_name: "TrinityX-resource"
aws_location: "Germany West Central"

#########################################################################
