---
# This file contains variables that are global to all playbooks
# in this repository.

#########################################################################
#                         AWS Account                                   #
#########################################################################

# -----------------------------------------------------------------------
# AWS Installation throw which technique
# Possible values are: aws or terraform 
aws_installer: 'terraform'

# -----------------------------------------------------------------------
# Use Case of Installation
# aws_controller: true means having a shadow controller in the cloud
aws_controller: true
aws_node: true

# -----------------------------------------------------------------------
aws_cluster_net: 10.2.0.0
aws_cluster_netprefix: 16
aws_cluster_dhcp_start: 10.2.128.0
aws_cluster_dhcp_end: 10.2.140.0

aws_ctrl_hostname: aws-controller1
aws_ctrl_ip: 10.2.255.254

aws_access_key: ''
aws_secret_key: ''
aws_location: "eu-central-1"

# -----------------------------------------------------------------------
aws_vpn_connection_name: "aws_connection"

# -----------------------------------------------------------------------
# controller ami filter and ami owners. really importqnt and need to be
# supplied as we do not know these values
aws_controller_ami_filter_values:      # e.g. 'Rocky-9-EC2-LVM*'
aws_controller_ami_owners:             # e.g. '["679593333241"]'
                                       # For Rocky=679593333241, Ubuntu=099720109477, RHEL=309956199498, AlmaLinux=874351743863, Fedora=125523088429, and so on

# -----------------------------------------------------------------------
# Azure Node Default count. only used when azure_node: true
aws_nodes: 'aws[001-010]'

# the type to determine ram and cpu for the nodes
aws_node_type: 't3.xlarge'

# 5 gigs is really the minimum!
aws_node_disk_size: 5

# -----------------------------------------------------------------------
# Azure Node Configuration
# Type of GRUB VHD. Default is RedHat another option is Debian
# For normal operations RedHat will suffice and need no change
aws_vhd_type: "RedHat"  

