---
# This file contains variables that are global to all playbooks
# in this repository.

#########################################################################
#                         Google Account                                #
#########################################################################

# -----------------------------------------------------------------------
# Google Account Credentials, E-Mail & Password
gcp_faceless_account: 'user@company.com'
gcp_faceless_account_password: ''

# -----------------------------------------------------------------------
# GCP Installation throw which technique
# Possible values are: gcloud or terraform 
gcp_installer: 'terraform'

# -----------------------------------------------------------------------
# Use Case of Installation
on_premises_controller: true
on_premises_node: true
gcp_controller: true
gcp_node: true

gcp_subscription_id: ''
gcp_client_id: ''
gcp_client_secret: ''
gcp_tenant_id: ''
gcp_resource_group_name: "TrinityX-resource"
gcp_location: "Germany West Central"

#########################################################################
