---
# This file contains variables that are global to all playbooks
# in this repository.

#########################################################################
#                         Google Account                                #
#########################################################################

# -----------------------------------------------------------------------
# Google Account Credentials, E-Mail & Password
gcp_faceless_account: 'user@company.com'
gcp_faceless_account_password: ''

# -----------------------------------------------------------------------
# GCP Installation throw which technique
# Possible values are: gcloud or terraform 
gcp_installer: 'terraform'

# -----------------------------------------------------------------------
# Use Case of Installation
gcp_controller: true
gcp_node: true

gcp_cluster_net: 10.3.0.0
gcp_cluster_netprefix: 16
gcp_cluster_dhcp_start: 10.3.128.0
gcp_cluster_dhcp_end: 10.3.140.0

gcp_ctrl_hostname: gcp-controller1
gcp_ctrl_ip: 10.3.255.254

gcp_subscription_id: ''
gcp_client_id: ''
gcp_client_secret: ''
gcp_tenant_id: ''
gcp_resource_group_name: "TrinityX-resource"
gcp_location: "Germany West Central"

#########################################################################
