---
- name: Create alertmanager system group
  ansible.builtin.group:
    name: "{{prometheus_alertmanager_system_group}}"
    system: true
    state: present

- name: Create alertmanager system user
  ansible.builtin.user:
    name: "{{prometheus_alertmanager_system_user}}"
    system: true
    shell: "/usr/sbin/nologin"
    group: "{{prometheus_alertmanager_system_group}}"
    groups: "{{prometheus_alertmanager_additional_system_groups}}"
    createhome: false

- name: Create alertmanager directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{prometheus_alertmanager_system_user}}"
    group: "{{prometheus_alertmanager_system_group}}"
    mode: 0755
  with_items:
    - "{{ prometheus_alertmanager_config_dir }}"
    - "{{ prometheus_alertmanager_config_dir }}/templates"
    - "{{ prometheus_alertmanager_db_dir }}"
    - "{{ _prometheus_alertmanager_amtool_config_dir }}"

- name: Get binary
  block:

    - name: Download alertmanager binary to local folder
      become: false
      ansible.builtin.get_url:
        url: "{{ prometheus_alertmanager_binary_url }}"
        dest: "/tmp/alertmanager-{{ prometheus_alertmanager_version }}.linux-{{ go_arch }}.tar.gz"
        checksum: "sha256:{{ __prometheus_alertmanager_checksum }}"
        mode: 0644
      register: _download_archive
      until: _download_archive is succeeded
      retries: 10
      delay: 15
      # run_once: true  # <-- this can't be set due to multi-arch support
      check_mode: false

    - name: Unpack alertmanager binaries
      become: false
      ansible.builtin.unarchive:
        src: "/tmp/alertmanager-{{ prometheus_alertmanager_version }}.linux-{{ go_arch }}.tar.gz"
        dest: "/tmp"
        mode: 0755
        creates: "/tmp/alertmanager-{{ prometheus_alertmanager_version }}.linux-{{ go_arch }}/alertmanager"
      check_mode: false

    - name: Propagate official alertmanager and amtool binaries
      ansible.builtin.copy:
        src: "/tmp/alertmanager-{{ prometheus_alertmanager_version }}.linux-{{ go_arch }}/{{ item }}"
        dest: "{{ _prometheus_alertmanager_binary_install_dir }}/{{ item }}"
        mode: 0755
        owner: root
        group: root
      with_items:
        - alertmanager
        - amtool
      notify:
        - restart prometheus-alertmanager

- name: Get prometheus-bcrypt binary
  get_url:
    url: "{{ prometheus_alertmanager_bcrypt_binary_url }}"
    dest: "{{prometheus_alertmanager_bcrypt_binary_install_dir}}/prometheus-bcrypt"
    mode: 0755
  register: _download_archive
  until: _download_archive is succeeded
  retries: 10
  delay: 15


- name: Create log directory
  ansible.builtin.file:
    path: "{{ prometheus_alertmanager_log_dir }}"
    state: directory
    mode: 0755
  when:
    - prometheus_alertmanager_log_dir is defined

- name: Install postfix
  ansible.builtin.package:
    name: postfix
    state: present

- name: Start and enable postfix
  ansible.builtin.service:
    name: postfix
    state: started
    enabled: true

- name: Create systemd service unit
  ansible.builtin.template:
    src: prometheus-alertmanager.service.j2
    dest: /etc/systemd/system/prometheus-alertmanager.service
    owner: root
    group: root
    mode: 0644
  notify:
    - restart prometheus-alertmanager