# /lib/systemd/system/sssd.timer 
[Unit]
Description=Wait some second before we start sssd

[Timer]
OnActiveSec=20sec
AccuracySec=1s
OnBootSec=20sec

[Install]
WantedBy=timers.target
