#!/bin/sh

{% if envmodules_skiproot %}
# skiproot set to true to prevent modules loading for root
if [ "$UID" == "0" ]; then
    return
fi
{% endif %}

export MODULEPATH=$MODULEPATH:{{ trix_modulefiles }}
