# /etc/nsswitch.conf
#
# For Debian/Ubuntu users:
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.
#
# taken from a rocky installation

passwd:     files sss systemd
group:      files sss systemd
shadow:     files sss
gshadow     files

netgroup:   sss files
automount:  sss files
services:   sss files
sudoers:    files

hosts:      files dns myhostname
aliases:    files
ethers:     files
networks:   files dns
protocols:  files
publickey:  files
rpc:        files
