---
# tasks file for obol
#
- block:
  - name: Generate openldap root password and save it to /etc/trinity/passwords
    set_fact:
      tmp_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/openldap/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"

  - name: Get openldap root password from /etc/trinity/passwords
    set_fact:
      openldap_root_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/openldap/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"
  when: not obol_use_ds389 | default(True)

- block:
  - name: Generate ds389 root password and save it to /etc/trinity/passwords
    set_fact:
      tmp_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/ds389/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"

  - name: Get ds389 root password from /etc/trinity/passwords
    set_fact:
      ds389_root_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/ds389/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"
  when: obol_use_ds389 | default(False)


- name: Install obol dependency packages
  become: false
  yum:
    name: '{{ obol_packages }}'
    state: present
  tags: install-only
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Install obol to /usr/local/sbin
  template:
    src: 'obol.j2'
    dest: '/usr/local/sbin/obol'
    owner: 'root'
    group: 'root'
    mode: '0750'

- name: Add default configuration to {{ obol_conf_path }}
  template:
    src: 'obol.conf.j2'
    dest: '{{ obol_conf_path }}/obol.conf'
    owner: 'root'
    group: 'root'
    mode: '0600'

- name: Add link to the configuration file in /etc
  file:
    src: '{{ obol_conf_path }}'
    dest: '/etc/'
    state: link
  when: obol_conf_path|string not in '/etc'
