---

#trix_local_repo_baseurl: http://localhost/repos/trinityx/

trinityx_repositories:
  - name: trix
    repo: https://updates.clustervision.com/trinityx/{{ trix_version }}/os/{{ hostvars[inventory_hostname].ansible_distribution|lower }}/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/x86_64
    gpgcheck: False
  - name: luna2
    repo: https://updates.clustervision.com/trinityx/{{ trix_version }}/luna2/{{ hostvars[inventory_hostname].ansible_distribution|lower }}/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/x86_64
    gpgcheck: False
  - name: luna2-noarch
    repo: https://updates.clustervision.com/trinityx/{{ trix_version }}/luna2/noarch/rpms
    gpgcheck: False

external_repository_rpms:
  - name: https://www.elrepo.org/elrepo-release-{{ hostvars[inventory_hostname].ansible_distribution_major_version }}.el{{ hostvars[inventory_hostname].ansible_distribution_major_version }}.elrepo.noarch.rpm
    file: elrepo-release.rpm
    no_gpgcheck: True

