# Serving TrinityX provided repositories

server {
    listen       {{ repos_port }} default_server;
    server_name  _;

    location /{{ trix_repos|basename() }} {
        root {{ trix_repos|regex_replace('/[^/]*$','') }};
        autoindex on;
    }

}

