---
{{ ansible_managed | comment }}
{% if prometheus_node_exporter_tls.enabled %}
tls_server_config:
  cert_file: {{ prometheus_node_exporter_tls.cert_file }}
  key_file: {{ prometheus_node_exporter_tls.key_file }}
  insecure_skip_verify: {{ prometheus_node_exporter_tls.allow_insecure }}
{% endif %}
