---
{{ ansible_managed | comment }}
{% if (prometheus_node_exporter_tls.get('enabled', False) | bool) %}
tls_server_config:
  cert_file: {{ prometheus_node_exporter_tls.cert_file }}
  key_file: {{ prometheus_node_exporter_tls.key_file }}
{% endif %}
