---

- name: "Ensure alertX drainer alertx_drainer_daemon_dir directory exists"
  file:
    path: "{{ alertx_drainer_daemon_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: "Ensure alertX drainer ini file alertx_drainer_ini_dir directory exists"
  file:
    path: "{{ alertx_drainer_ini_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Ensure alertX drainer ini file alertx_drainer_log_dir directory exists
  file:
    path: '{{ alertx_drainer_log_dir }}'
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Include logrotate
  include_role:
    name: trinity/logrotate
  vars:
    logrotate_component: 'alertx'
    logrotate_logdir: '{{ alertx_drainer_log_dir }}'
    logrotate_emptyfile: 'drainer.log'

- name: "Install drainer ini file"
  template:
    src: 'drainer.ini.j2'
    dest: '{{ alertx_drainer_ini_dir }}/drainer.ini'
    owner: root
    group: root
    mode: 0750

- name: "Install all drainer daemon Python templates"
  template:
    src: "{{ item }}"
    dest: "{{ alertx_drainer_daemon_dir }}/{{ item | basename | regex_replace('\\.j2$', '') }}"
    owner: root
    group: root
    mode: '0750'
  with_items:
    - 'alert_fetcher.py.j2'
    - 'config.py.j2'
    - 'drainer.py.j2'
    - 'logger.py.j2'
    - 'node_utils.py.j2'

- name: Install service file to systemd
  template:
    src: 'alertx-drainer.service.j2'
    dest: '/etc/systemd/system/alertx-drainer.service'
    owner: 'root'
    group: 'root'
    mode: '0644'
 
- name: Reload daemon
  systemd:
    name: alertx-drainer.service
    state: "{{ 'restarted' if alertx_drainer_enable else 'stopped' }}"
    enabled: "{{ True if alertx_drainer_enable else False }}"
    daemon_reload: true
