[Unit]
Description = Login node OOD preparation
After = network.target sssd.service
Before = ondemand-dex.service httpd.service

[Service]
Type = oneshot
ExecStart = {{ trix_sbin }}/login-node-ood-reconfigure.sh

[Install]
WantedBy = multi-user.target
