---
- name: Set on_node variable
  set_fact:
    on_node: '{{ True if not in_image else False }}'
  tags: always

- debug:
    msg: "in_image: {{ in_image }}, in_login_image: {{ in_login_image|default(False) }}, on_node: {{ on_node }}"
  tags: always

