---
- name: Set on_node variable
  set_fact:
    on_node: '{{ True if not in_image else False }}'
  tags: always

- debug:
    msg: "in_image: {{ in_image }}, in_login_image: {{ in_login_image|default(False) }}, on_node: {{ on_node }}"
  tags: always

- name: Stop firewalld
  service:
    name: firewalld
    state: stopped
  when: 
    - on_node|default(False)
    - not in_login_image | default(False)

- name: Disable firewalld
  systemd:
    name: firewalld
    enabled: false

- name: Enable firewalld
  systemd:
    name: firewalld
    enabled: true
  when: in_login_image | default(False)

- name: Get image name
  set_fact:
    image_name: '{{ inventory_hostname.split(".")|first }}'

- name: Ensure python3 and pip are installed
  package:
    name: "{{ init_nodes_req }}"
    state: present

- name: Install passlib with bcrypt support
  pip:
    name: "{{ init_nodes_packages }}"
    state: present
    executable: pip3

- name: Set root plaintext password
  set_fact:
    root_plain: "{{ lookup('password','/etc/trinity/passwords/images/{{ image_name }}/root.txt') }}"

- name: Generate root password hash
  set_fact:
    root_password_hash: "{{ root_plain | password_hash(hashtype='bcrypt') }}"

- name: Setup the root user's password
  user:
    name: root
    password: "{{ root_password_hash }}"
    state: present

- name: Generate host SSH keys
  shell: ssh-keygen -A
  args:
    creates: /etc/ssh/ssh_host_rsa_key

- name: Disable host key check between nodes
  blockinfile:
    path: "/etc/ssh/ssh_config"
    block: |
      # Names without domain, such as node001
      host  * !*.*
              ForwardX11 yes
              CheckHostIP no
              HostbasedAuthentication no
              StrictHostKeyChecking no
              UserKnownHostsFile /dev/null

      # Our local domains
      Host  *.cluster *.ib
              ForwardX11 yes
              CheckHostIP no
              HostbasedAuthentication no
              StrictHostKeyChecking no
              UserKnownHostsFile /dev/null

- name: Use the controller as a DNS resolver
  template:
    src: "resolv.conf"
    dest: "/etc/resolv.conf"

- name: Use the controller as default gateway
  lineinfile:
    path: "/etc/sysconfig/network"
    line: "GATEWAY={{ trix_ctrl_ip }}"
    state: present
    create: true

- name: Get the controller's timezone
  stat:
    path: "/etc/localtime"
  register: tz
  delegate_to: localhost

- name: Set the image/node's timezone
  file:
    src: "{{ tz.stat.lnk_source }}"
    dest: "/etc/localtime"
    state: link
