---

title: "VNC Remote Desktop"
submit: "submit/TrinityX.yml.erb"
cluster: TrinityX

form:
  - bc_account
  - bc_queue
  - bc_num_hours
  - bc_num_slots

  - cores
  - memory
  - gpus
  - slurm_extra_args

  - modules

  - desktop
  - bc_vnc_idle

  - bc_email_on_started

attributes:
  bc_account:
    help: "Workload manager account. This can be left blank most of the time"
  bc_queue:
    help: "Workload manager queue. This can be left blank most of the time"
  bc_num_hours:
    help: "Number of hours for the job"
  bc_num_slots: 1

  cores:
    widget: "number_field"
    min: 1
    step: 1
    label: "Number of Cores for the job"
    help: "This will populate the `--mincpus` argument in the batch script"
  memory:
    widget: "number_field"
    min: 1024
    step: 1024
    label: "Memory (in MB) for the job"
    help: "This will populate the `--mem` argument in the batch script"
  gpus:
    widget: "number_field"
    min: 1
    step: 1
    # value: 1
    label: "Number of GPUs for the job"
    help: "This will populate the `-G/--gpus` argument in the batch script"
  slurm_extra_args:
    label: "Extra SLURM arguments"
    help: "Additional arguments to pass to the SLURM job script"

  modules:
    value: "ood-desktop"
    help: "The Environment modules to load before starting the desktop"


  desktop: 
    value: "{{ app.props.desktops_default }}"
    options: {{ app.props.desktops | to_json }}
  bc_desktop_idle:
    value: "{{ app.props.idle_timeout }}"
    label: "Idle timeout"
    help: This is the time you have to connect to a session before it is automatically terminated



  


