help([[
This module activates an environment for TurboVNC 
]])

prepend_path("PATH", "/opt/TurboVNC/bin")
setenv("WEBSOCKIFY_CMD", "/usr/bin/websockify")
setenv("XDG_SESSION_TYPE", "x11")
setenv("GDK_BACKEND", "x11")

