---
batch_connect:
  template: "vnc"
  script_wrapper: |
    <%- if !modules.blank? -%>
    # Purge the module environment and run the required modules
    module purge && module load <%= modules %>  
    <%- end -%>
    # Run the script
    %s



script:
  native:
    - "-N"
    - "<%= bc_num_slots %>"
    <% if !cores.blank? %>
    - "--mincpus"
    - "<%= cores %>"
    <% end %>
    <% if !memory.blank? %>
    - "--mem"
    - "<%= memory %>"
    <% end %>
    <% if !gpus.blank? %>
    - "--gpus"
    - "<%= gpus %>"
    <% end %>
    <% if !slurm_extra_args.blank? %>
    <% for arg in slurm_extra_args.split() %>
    - "<%= arg %>"
    <% end %>
    <% end %>

