---

title: "Jupyer notebook application"

form:
  - modules
  - cluster

  - bc_account
  - bc_queue
  - bc_num_hours
  - bc_num_slots
  - bc_email_on_started

  - extra_jupyter_args

attributes:
  modules:
    value: "ood-jupyter"
  cluster: 
    value: TrinityX

  bc_account:
    help: "Workload manager account. This can be left blank most of the time"
  bc_queue:
    help: "Workload manager queue. This can be left blank most of the time"
  bc_num_hours:
    help: "Number of hours to run the job"
  bc_num_slots:
    help: "Number of slots to run the job"

  extra_jupyter_args: 
    value: ""
    help: "Any extra command line arguments to feed to the `jupyter notebook ...` command that launches the Jupyter notebook within the batch job"


