#!/bin/bash

# we cannot start/enable firewalld in ansible/lchroot
systemctl enable firewalld
systemctl start firewalld
firewall-cmd --add-port={{ ood_port }}/tcp --permanent 2>&1 | logger
firewall-cmd --reload 2>&1 | logger

if [ "$(grep __HOSTNAME__ /etc/ood/config/ood_portal.yml)" ] || [ "$(grep __HOSTNAME__ /etc/ood/config/clusters.d/TrinityX.yml)" ]; then
    MYHOSTNAME=$(hostname --short)
    sed -i 's/__HOSTNAME__/'$MYHOSTNAME'/' /etc/ood/config/ood_portal.yml 2>&1 | logger
    sed -i 's/__HOSTNAME__/'$MYHOSTNAME'/' /etc/ood/config/clusters.d/TrinityX.yml 2>&1 | logger
    /opt/ood/ood-portal-generator/sbin/update_ood_portal 2>&1 | logger
    systemctl restart httpd
fi
{% for app in ood_apps %}
echo 'Changing permission for {{ app.name }}' | logger
chgrp {{ app.group | default(ood_apps_admin_group) }} {{ trix_local }}/ondemand/3.0/{{ app.name }} 2>&1 | logger
{% endfor %}
chgrp {{ app.group | default(ood_apps_admin_group) }} {{ trix_local }}/ondemand/3.0/config/luna.ini 2>&1 | logger

