---
name: Alertmanager
description: |-
 Alertmanager Dashboard for cluster error alerts
category: Monitoring 
icon: fa://bell
url: {{'https' if enable_ssl else 'http'}}://{{trix_ctrl_hostname}}.{{trix_domain}}:9093
external_link: true

tile:
  title: "Alertmanager"
  sub_caption: |
   Alertmanager Dashboard for cluster error alerts