---
name: Grafana
description: |-
 Grafana Dashboard for cluster statistics
category: Monitoring 
icon: fa://chart-line
url: {{'https' if enable_ssl else 'http'}}://{{trix_external_fqdn}}.{{trix_domain}}:3000
external_link: true

tile:
  title: "Grafana"
  sub_caption: |
   Grafana Dashboard for cluster statistics