---
# handler file for slurm

- name: restart slurm
  service:
    name: '{{ item }}'
    state: restarted
  with_items:
    - slurmdbd
    - slurmctld
  when: 
    - primary|default(True)
    - not ha|default(False)

- name: restart munge
  service:
    name: munge
    state: restarted
  when: 
    - primary|default(True)
    - not ha|default(False)
