connections {
    {{ vpn_connection_name }} {
        version = 2
        proposals = aes256-sha1-modp1024,aes128-sha1-modp1024
        local_addrs = {{ vpn_local_external_ip }}
        remote_addrs = {{ vpn_remote_public_ip }}
        local {
            auth = psk
            id = {{ vpn_local_external_ip }}
        }
        remote {
            auth = psk
            id = {{ vpn_remote_public_ip }}
        }
        children {
            {{ vpn_connection_name }}_child {
                local_ts = {{ vpn_local_private_subnet }}
                remote_ts = {{ vpn_remote_private_subnet }}
                esp_proposals = aes256-sha1-modp1024,aes128-sha1-modp1024
                dpd_action = restart
                rekey_time = 8h
                start_action = start
                close_action = none
            }
        }
    }
}
secrets {
    ike-{{ vpn_connection_name }} {
        id = {{ vpn_remote_public_ip }}
        secret = {{ vpn_psk_secret }}
    }
}

