---


form:
  - modules
  - cluster

  - bc_account
  - bc_queue
  - bc_num_hours
  - bc_num_slots
  - bc_email_on_started

  - version
  - working_dir

attributes:

  cluster: 
    value: "TrinityX"

  bc_account:
    help: "Workload manager account. This can be left blank most of the time"
  bc_queue:
    help: "Workload manager queue. This can be left blank most of the time"
  bc_num_hours:
    help: "Number of hours to run the job"
  bc_num_slots:
    help: "Number of slots to run the job"

  version:
    value: "4.8"
    
  working_dir:
    label: "Working Directory"
    data-filepicker: true
    data-target-file-type: dirs  # Valid values are: files, dirs, or both
    readonly: false
    help: "Select your project directory; defaults to $HOME"
  version:
    widget: "select"
    label: "Codeserver Version"
    options:
      - ["4.8", "4.8.3"]
      - ["3.9", "3.9.3"]