---
name: Shell
category: Utilities
subcategory: Shells

icon: fa://terminal
description: |-
  Shell access to {{ ansible_fqdn }}
role: shell

tile:
  title: "Shell"
  sub_caption: |
    Shell access to {{ ansible_fqdn }}