---
# Install additional packages and tunables

- name: Load a variable file based on the OS type, or a default if not found. Using free-form to specify the file.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}{{ ansible_distribution_major_version}}.yaml"
    - "{{ ansible_os_family }}{{ ansible_distribution_major_version}}.yaml"
  ignore_errors: yes

- name: Install additional packages
  yum:
    name: "{{ tunables_packages }}"
    state: present
    enablerepo: powertools
    disable_gpg_check: true
  tags: install-only
  when: ansible_distribution == "Rocky"

- name: Install additional packages
  yum:
    name: "{{ tunables_packages }}"
    state: present
    disable_gpg_check: true
  tags: install-only
  when: ansible_distribution == "RedHat"

- name: Install additional packages
  yum:
    name: "{{ tunables_packages }}"
    state: present
    disable_gpg_check: true
  tags: install-only
  when: ansible_distribution == "CentOS"

- name: Install Infiniband support
  yum:
    name: "@Infiniband support"
    state: present
  when: install_infiniband
  tags: install-only

- name: Install Infiniband support (compat)
  yum:
    name: compat-opensm-libs
    state: present
  when: install_infiniband
  tags: install-only

- name: Enable haveged service
  service:
    name: haveged
    enabled: yes

- name: Start haveged service
  service:
    name: haveged
    state: started
  when: ansible_connection not in 'chroot'
