#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  {{ prometheus_global | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
  external_labels:
    {{ prometheus_external_labels | to_nice_yaml(indent=2,sort_keys=False) | indent(4, False) }}

{% if prometheus_remote_write != [] %}
remote_write:
  {{ prometheus_remote_write | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}

{% if prometheus_remote_read != [] %}
remote_read:
  {{ prometheus_remote_read | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}

{% if not prometheus_agent_mode and prometheus_alert_rules_files != [] %}
rule_files:
  - {{ prometheus_config_dir }}/rules/*.rules
{% endif %}

{% if prometheus_alertmanager is defined %}
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - {{ prometheus_alertmanager.target }}
  {% if prometheus_alertmanager.credentials_file is defined %}
      basic_auth:
        username: {{ prometheus_alertmanager.credentials_file | basename | replace('.txt', '') }}
        password_file: {{ prometheus_alertmanager.credentials_file }}
  {% endif %}
{% endif %}


{% if prometheus_scrape_configs %}
{{ {'scrape_configs' : prometheus_scrape_configs} | to_nice_yaml(indent=2,sort_keys=False)  }}
{% endif %}

{% if prometheus_auth_credentials_file is defined %}
basic_auth:
  username: {{ prometheus_auth_user }}
  password_file: {{ prometheus_auth_credentials_file }}
{% endif %}