---
# vars file for ood-portal

ood_web_repository_rpms: 
  - name: https://yum.osc.edu/ondemand/3.0/ondemand-release-web-3.0-1.noarch.rpm
    no_gpgcheck: True

ood_packages:
  - luna2-python

ood_download_url: "https://updates.clustervision.com/trinityx/{{ trix_version }}/luna2/noarch/pip/{{ trix_stream }}/ood/trinityx-ood-2.0.latest.tar.gz"
ood_gitrepo_url: git@192.168.166.101:clustervision/trinityx-ood.git

cluster_name: TrinityX
login_host: "controller.cluster"
ldap_host: "10.141.255.254"
enable_ssl: false
enable_ood_vnc: false

admin_group: admins

ood_port: 8080
ood_version: '3.0'
ood_user: 'apache'
ood_portal_cfg_path: /etc/ood/config/
ood_portal_brand: TrinityX
ood_vnc_idle_timeout: 180
ood_vnc_desktop: xfce
