---
- name: Install required packages
  package:
    name: '{{ logrotate_packages }}'
    state: present
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"
  tags: install-only

- name: Copy logrotate configuration files
  copy:
    src: '{{ item }}'
    dest: '/etc/logrotate.d/{{ item }}'
    force: false
  with_items: "{{ logrotate_files + logrotate_additional }}"

- name: Changing owner and group for logrotate config
  file:
    path: '/etc/logrotate.d/{{ item }}'
    owner: root
    group: root
  with_items: "{{ logrotate_files + logrotate_additional }}"

- name: Restart logrotate
  assert: {that: true, quiet: true}
  notify: restart logrotate
  changed_when: true
  when: 
    - ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version']|int > 8
    - not in_image
