pinned_apps:
  - sys/shell
  - sys/alertmanager
  - sys/prometheus
  - sys/grafana
  - 'sys/bc_*'
  - 'sys/trinity_*'
pinned_apps_group_by: category
custom_css_files: ["/custom.css"]

# Top menu to match design (Fig 2): Apps, Files, Jobs, Clusters, Interactive apps
nav_bar:
  - apps
  - files
  - jobs
  - clusters
  - interactive apps
  - sessions
help_bar:
  - help
  - user
  - log_out