
- block:
  - name: Verify if luna secret vault exists
    stat:
      path: "{{ trix_ssl }}/secret.key"
    register: stat_secret_key

  - block:
    - name: Generate Luna Secret Key
      set_fact:
        luna_secret_key: "{{ lookup('password', '/dev/null length=32 chars=abcdef0123456789') }}"

    - name: Write luna secret key to vault
      copy:
        dest: "{{ trix_ssl }}/secret.key"
        content: "{{ luna_secret_key }}"
    when: not stat_secret_key.stat.exists

  - block:
    - name: Import luna secret key
      slurp:
        src: "{{ trix_ssl }}/secret.key"
      register: luna_secret_key_b64

    - name: Set Luna secret key
      set_fact:
        luna_secret_key: "{{ luna_secret_key_b64['content'] | b64decode }}"
    when: stat_secret_key.stat.exists


- block:
  - name: Verify if omapi vault exists
    stat:
      path: "{{ trix_ssl }}/omapi.key"
    register: stat_omapi_key

  - block:
    - name: Generate omapi Key
      set_fact:
        omapi_key: "{{ lookup('password', '/dev/null length=32 chars=abcdef0123456789') }}"

    - name: Write omapi key to vault
      copy:
        dest: "{{ trix_ssl }}/omapi.key"
        content: "{{ omapi_key }}"
    when: not stat_omapi_key.stat.exists

  - block:
    - name: Import omapi key
      slurp:
        src: "{{ trix_ssl }}/omapi.key"
      register: omapi_key_b64

    - name: Set omapi key
      set_fact:
        omapi_key: "{{ omapi_key_b64['content'] | b64decode }}"
    when: stat_omapi_key.stat.exists


- block:
  - name: Verify if TSIG vault exists
    stat:
      path: "{{ trix_ssl }}/tsig.key"
    register: stat_tsig_key

  - block:
    - name: Generate TSIG Key
      shell: tsig-keygen -a hmac-sha256 tsig-key
      register: raw_tsig_key

    - name: Set TSIG Key
      set_fact:
        tsig_key: "{{ raw_tsig_key.stdout }}"

    - name: Write TSIG key to vault
      copy:
        dest: "{{ trix_ssl }}/tsig.key"
        content: "{{ tsig_key }}"
    when: not stat_tsig_key.stat.exists

  - block:
    - name: Import TSIG key
      slurp:
        src: "{{ trix_ssl }}/tsig.key"
      register: tsig_key_b64

    - name: Set TSIG key
      set_fact:
        tsig_key: "{{ tsig_key_b64['content'] | b64decode }}"
    when: stat_tsig_key.stat.exists

  - name: Set TSIG key secret
    set_fact:
      tsig_key_secret: "{{ tsig_key | regex_search('secret .*') | split() | last | regex_replace('\"', '') | regex_replace(';', '') }}"

  - name: Set TSIG key algo
    set_fact:
      tsig_key_algo: "{{ tsig_key | regex_search('algorithm .*') | split() | last | regex_replace('\"', '') | regex_replace(';', '') }}"
  when:
    - ansible_facts['os_family'] == "RedHat"
    - ansible_facts['distribution_major_version']|int > 8

