{{ ansible_managed | comment }}

{% if ansible_dns['nameservers'] is defined or bind_dns_forwarders %}
search {{ resolv_search_domains }}
nameserver {{ resolv_server }}
{% if bind_dns_forwarders %}
{% for f in bind_dns_forwarders %}
nameserver {{ f }}
{% endfor %}
{% else %}
{% for f in ansible_dns['nameservers'] %}
{% if f not in ansible_all_ipv4_addresses%}
nameserver {{ f }}
{% endif %} 
{% endfor %}
{% endif %}
{% endif %}
