---

- name: Stop firewalld
  service:
    name: firewalld
    state: stopped
  ignore_errors: true
  when: 
    - on_node|default(False)
    - not in_login_image | default(False)

- name: Disable firewalld
  systemd:
    name: firewalld
    enabled: false
  ignore_errors: true

- name: Enable firewalld
  systemd:
    name: firewalld
    enabled: true
  ignore_errors: true
  when: in_login_image | default(False)
