---

- name: Stop firewalld
  service:
    name: firewalld
    state: stopped
  ignore_errors: true
  when: on_node|default(False)

- name: Disable firewalld
  systemd:
    name: firewalld
    enabled: false
  ignore_errors: true

