# Trinity NFS exports
{% for export in new_nfs_exports %}
{% set disabled = export.get('disabled', False) %}
{% if not disabled and 'path' in export %}
{% set export_type = export.get('type') %}
{% if export_type in ['nfs','lustre','beegfs','mmfs','gpfs','panfs'] %}
{# An external share is imported, never served: exporting it would re-export the mount #}
{% elif export_type == 'manual' %}
{# For manual type, just output the path and options #}

{{ export.path }}   {{ export.options | default('') }}
{% else %}
{# For other types, check for rwhosts #}
{% if export.get('rwhosts') or export.get('hosts') %}
{% set lines = [export.path] %}
{% if export.get('rwhosts') %}
{% for entry in export.rwhosts %}
{% set _ = lines.append(' ' + entry + '(' + nfs_rw_options + ')') %}
{% endfor %}
{% endif %}
{% if export.get('hosts') %}
{% for entry in export.hosts %}
{% set _ = lines.append(' ' + entry + '(' + (export.options | default('')) + ')') %}
{% endfor %}
{% elif export.options | default('') %}
{% set _ = lines.append(' ' + export.options) %}
{% endif %}

{{ lines | join(' \\\n') }}
{% else %}

{{ export.path }}  {{ export.options | default('') }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
