# Trinity NFS exports

{% if nfs_export_shared == true %}
{{ trix_shared }}   *(ro,no_root_squash)
{% endif %}
{% if nfs_export_home == true %}
{{ trix_home }}     *(rw,async,no_root_squash)
{% endif %}
