---
name: Alertmanager
description: |-
 Alertmanager Dashboard for cluster error alerts
category: Monitoring 
icon: fa://bell
url: {{'https' if ood_portal_enable_ssl else 'http'}}://{{trix_external_fqdn}}:9093
external_link: true

tile:
  title: "Alertmanager"
  sub_caption: |
   Alertmanager Dashboard for cluster error alerts