[Unit]
Description=TrinityX node console setup (netconsole kernel module)
After=network-online.target
Wants=network-online.target
FailureAction=none

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ netconsole_setup_script }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
