[SERVER]
HOST = {{ sol_grab_listen_host }}
PORT = {{ sol_grab_port }}

[GRAB]
MAX_WORKERS = {{ sol_grab_max_workers }}
DURATION_SECS = {{ sol_grab_duration_secs }}
MAX_LINES = {{ sol_grab_max_lines }}
BACKEND = {{ sol_grab_backend }}
LOG_DIR = {{ sol_grab_log_dir }}
