[SERVER]
HOST = {{ node_console_sol_grab_listen_host }}
PORT = {{ node_console_sol_grab_port }}

[GRAB]
MAX_WORKERS = {{ node_console_sol_grab_max_workers }}
DURATION_SECS = {{ node_console_sol_grab_duration_secs }}
MAX_LINES = {{ node_console_sol_grab_max_lines }}
BACKEND = {{ node_console_sol_grab_backend }}
LOG_DIR = {{ node_console_sol_grab_log_dir }}
