---
- block:

  - name: Ensure '{{ ssl_cert_owner }}' user exists
    user:
      name: '{{ ssl_cert_owner }}'
      uid: '{{ ssl_cert_owner_id }}'
      system: 'yes'
    when: ssl_cert_owner not in 'root'

  - name: Ensure '{{ ssl_cert_group }}' group exists
    group:
      name: '{{ ssl_cert_group }}'
      gid: '{{ ssl_cert_group_id }}'
      system: 'yes'
  when: on_controller|default(False) or in_login_image|default(False)

- block:
  - name: Ensure {{ ssl_cert_path }} exists
    file:
      path: '{{ ssl_cert_path }}'
      state: directory
      setype: cert_t
      seuser: system_u

  - name: Generate a certificate authority for the cluster
    command: >
      openssl req -newkey rsa:4096
        -nodes -sha512 -x509
        -days {{ ssl_cert_days }}
        -subj "/C=NL/L=Amsterdam/O=ClusterVision Solutions BV./CN=clustervision.com"
        -out '{{ ssl_ca_cert }}'
        -keyout '{{ ssl_ca_key }}'
    args:
      creates: '{{ ssl_ca_cert }}'
  when: in_login_image|default(False) or 
        ((primary | default(True) or in_cloud | default(False)) and on_controller | default(False))

# -- start sync
- name: Copy cluster CA certificate from sync
  copy:
    remote_src: true
    src: '{{ trix_sync }}/ssl/{{ item }}'
    dest: '{{ ssl_cert_path }}'
  with_items:
    - '{{ ssl_ca_cert | basename }}'
    - '{{ ssl_ca_key | basename }}'
  when:
    - not in_cloud | default(False)
    - not primary | default(False)
    - on_controller | default(False)
    - not in_image
# -- end sync

- block:
  - name: Render subjectAltName configuration
    template:
      src: 'san.conf.j2'
      dest: '{{ ssl_cert_path }}/san.conf'
      mode: '0660'

  - block:
    - name: Fetch list of existing certificate artifacts
      find:
        paths: "{{ ssl_cert_path }}"
        patterns: '{{ ansible_fqdn }}.*'
      register: ssl_existing_cert

    - name: Ensure backup directory exists
      file:
        path: '{{ ssl_cert_path }}/backup'
        state: directory

    - name: Backup existing certificate
      command: 'mv -f {{ item.path }} {{ ssl_cert_path }}/backup/'
      with_items: "{{ ssl_existing_cert.files }}"
    when: override | default(False)

  - name: Create a certificate request for each controller
    command: >
      openssl req -new -nodes -sha512
        -subj '/C={{ ssl_cert_country }}/ST={{ ssl_cert_state }}/L={{ ssl_cert_locality }}/O={{ ssl_cert_organization }}/CN={{ ansible_fqdn }}'
        -out '{{ ssl_cert_path }}/{{ ansible_fqdn }}.csr'
        -keyout '{{ ssl_cert_path }}/{{ ansible_fqdn }}.key'
        -config '{{ ssl_cert_path }}/san.conf'
    args:
      creates: '{{ ssl_cert_path }}/{{ ansible_fqdn }}.csr'

  - name: Sign the certificate requests
    command: >
      openssl x509 -req
        -days {{ ssl_cert_days }}
        -in '{{ ssl_cert_path }}/{{ ansible_fqdn }}.csr'
        -CA '{{ ssl_ca_cert }}'
        -CAkey '{{ ssl_ca_key }}'
        -out '{{ ssl_cert_path }}/{{ ansible_fqdn }}.crt'
        -extensions req_ext
        -extfile '{{ ssl_cert_path }}/san.conf'
        -set_serial {{ ansible_date_time.epoch }}
    args:
      creates: '{{ ssl_cert_path }}/{{ ansible_fqdn }}.crt'

  - name: Create symlink for floating H/A controller
    file:
      src: '{{ ssl_cert_path }}/{{ ansible_fqdn }}.{{ item }}'
      dest: '{{ ssl_cert_path }}/{{ trix_ctrl_hostname }}.{{ item }}'
      state: link
    with_items:
      - crt
      - key
    when: 
      - ha | default(False)

  - name: Fetch list of private keys
    find:
      paths: "{{ ssl_cert_path }}"
      patterns: '*.key'
    register: ssl_private_keys

  - name: Restrict access permissions to the private keys
    file:
      path: '{{ item.path }}'
      mode: 0640
    with_items: "{{ ssl_private_keys.files }}"

  - name: Update ownership of the certificates
    file:
      path: '{{ ssl_cert_path }}'
      owner: '{{ ssl_cert_owner }}'
      group: '{{ ssl_cert_group }}'
      setype: cert_t
      seuser: system_u
      recurse: 'yes'
  when: 
    - in_login_image|default(False) or (on_controller|default(False) and not in_image)

# -- start sync
- block:
  - name: Ensure ssl sync directory exists
    file:
      path: '{{ trix_sync }}/ssl'
      state: directory

  - name: Add CA certificate to sync
    copy:
      remote_src: true
      src: '{{ ssl_cert_path }}/{{ item }}'
      dest: '{{ trix_sync }}/ssl/{{ item }}'
      mode: 0640
    with_items:
      - '{{ ssl_ca_cert | basename }}'
      - '{{ ssl_ca_key | basename }}'
  when:
    - primary | default(True)
    - ha | default(False)
    - on_controller|default(False)
    - not in_image
# --- end sync

- name: Add CA certificate to default trust store
  copy:
    src: '{{ ssl_ca_cert }}'
    dest: '/etc/pki/ca-trust/source/anchors/{{ ssl_ca_cert | basename }}'
  register: cert_copy
  when: ansible_facts['os_family'] == "RedHat" or ansible_facts['os_family'] == "Suse" or ansible_facts['os_family'] == "SLE"

- name: Update certificate trust store
  shell: update-ca-trust
  changed_when: cert_copy.changed
  when: ansible_facts['os_family'] == "RedHat"

- name: Update certificate trust store
  shell: update-ca-certificates
  changed_when: cert_copy.changed
  when: ansible_facts['os_family'] == "Suse" or ansible_facts['os_family'] == "SLE"

- block:
  - name: Add CA certificate to default trust store
    copy:
      src: '{{ ssl_ca_cert }}'
      dest: '/usr/local/share/ca-certificates/{{ ssl_ca_cert | basename }}'
    register: cert_copy

  - name: Update certificate trust store
    shell: update-ca-certificates
    changed_when: cert_copy.changed
  when: ansible_facts['os_family'] == "Debian"

