# ### Begin file template rules ###

template(name="{{ item.name }}" type="{{ item.type }}" {{ item.type }}="{{ item.content }}")

if {{ item.field }} {{ item.criteria }} '{{ item.rule }}' then  { action(type="omfile" DynaFile="{{ item.name }}") stop }

$CreateDirs on

# ### End file template rules ###
