{{ ansible_managed | comment }}

[mysqld]
datadir= {{ mariadb_db_path }}
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

innodb_file_per_table=1

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

