{{ ansible_managed | comment }}

[client]
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_pwd }}

[mysql]
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_pwd }}

[mysqldump]
socket=/var/lib/mysql/mysql.sock
user=root
password={{ mysql_root_pwd }}
