[Unit]
Description=sets current host as Luna master
After=luna2-daemon.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/lmaster
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
