<footer class="d-flex justify-content-between align-items-center p-4 m-0 mt-4">
  <!-- Left image block -->
  <div class="d-flex gap-3">
    <%= link_to "https://openondemand.org" do %>
      <%=
        image_tag(
          "OpenOnDemand_powered_by_RGB.svg",
          class: "footer-logo",
          alt: "Powered by Open OnDemand",
          height: "40px",
          style: "display: block !important;"
        )
      %>
    <% end %>
  </div>

  <!-- Right version info block -->
  <div class="d-flex flex-column text-end">
    <span>OnDemand version: <%= Configuration.ood_version %></span>
    <span>TrinityX version: {{ trix_version }}</span>
  </div>
</footer>

