---
name: Code Server
category: Interactive Apps
subcategory: Servers
role: batch_connect
description: |
  This app will launch a [Code Server] server using the available batch_connect backend.


tile:
  title: "Code Server"
  sub_caption: |
   Code Server job

