{{ ansible_managed | comment }}

CgroupPlugin={{ slurm_cgroup_plugin | default('autodetect') }}
ConstrainCores={{ slurm_cgroup_constrain_cores | default('yes') }}
ConstrainDevices={{ slurm_cgroup_constrain_devices | default('yes') }}
ConstrainRAMSpace={{ slurm_cgroup_constrain_ram | default('yes') }}
ConstrainSwapSpace={{ slurm_cgroup_constrain_swap | default('yes') }}
