{{ ansible_managed | comment }}

ClusterName=cluster
ControlMachine={{ slurm_ctrl_list }}
Include /etc/slurm/slurm-nodes.conf
Include /etc/slurm/slurm-partitions.conf
#Include /etc/slurm/slurm-health.conf


TopologyPlugin=topology/tree

SwitchType=switch/none
# To enable resource enforcement
# TaskPlugin=task/cgroup
TaskPlugin=task/none
MpiDefault=none
ReturnToService=2


# Accounting.
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ slurm_ctrl }}
AccountingStorageUser=slurm
#AccountingStorageEnforce=qos,limits
#AccountingStoragePass=
#AccountingStoragePort=

# Logging
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

StateSaveLocation={{ slurm_spool_path }}
AuthType=auth/munge
ControlAddr={{ slurm_ctrl_ip }}
SlurmUser=slurm

# ------------------ below was formerly in slurm-user.conf
PriorityType=priority/multifactor
PriorityWeightQOS=10000  # All weights are mutiplied by a value between 0 and 1 and then converted back to a 32 bit unsigned int so make them all big enough not to lose precision
JobAcctGatherFrequency=15
JobAcctGatherType=jobacct_gather/cgroup
PreemptType=preempt/none

# Timers
SlurmctldTimeout=10
SlurmdTimeout=10

# Consumable Resource
Proctracktype=proctrack/cgroup
#FastSchedule=0
SelectType=select/cons_tres
SelectTypeParameters=CR_Core
DefMemPerCPU=1024


PropagateResourceLimitsExcept=MEMLOCK

TaskProlog={{ trix_shared }}/etc/slurm/prolog.sh
Prolog={{ trix_shared }}/etc/slurm/prolog.sh
Epilog={{ trix_shared }}/etc/slurm/epilog.sh
EpilogSlurmCtld={{ trix_shared }}/etc/slurm/balance.sh
