{{ ansible_managed | comment }}

ClusterName=cluster
ControlMachine={{ slurm_ctrl_list }}
Include /etc/slurm/slurm-nodes.conf
Include /etc/slurm/slurm-partitions.conf
Include /etc/slurm/slurm-user.conf
#Include /etc/slurm/slurm-health.conf


TopologyPlugin=topology/tree

SwitchType=switch/none
# To enable resource enforcement
# TaskPlugin=task/cgroup
TaskPlugin=task/none
MpiDefault=none
ReturnToService=2


# Accounting.
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ slurm_ctrl }}
AccountingStorageUser=slurm
#AccountingStorageEnforce=qos,limits
#AccountingStoragePass=
#AccountingStoragePort=

# Logging
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

StateSaveLocation={{ slurm_spool_path }}
AuthType=auth/munge
ControlAddr={{ slurm_ctrl_ip }}
SlurmUser=slurm

