[Unit]
Description=AlertX drainer App Service
After=network.target

[Service]
WorkingDirectory={{ alertx_drainer_base_dir }}
ExecStart=/bin/bash -c "source {{ trix_local }}/python/bin/activate && cd {{ alertx_drainer_daemon_dir }} && exec {{ trix_local }}/python/bin/python3 drainer.py"

[Install]
WantedBy=multi-user.target
