[Unit]
Description=AlertX history Service
After=network.target mariadb.service

[Service]
Type=simple
WorkingDirectory={{ alertx_history_base_dir }}
ExecStart=/usr/bin/python3 {{ alertx_history_daemon_dir }}/history_daemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
