[Unit]
Description=AlertX drainer App Service
After=network.target

[Service]
WorkingDirectory={{ alertx_drainer_base_dir }}
ExecStart=/bin/bash -c "source {{ trix_local }}/python/bin/activate && cd {{ alertx_drainer_daemon_dir  }} && exec {{ trix_local }}/python/bin/gunicorn -b :7150 drainer:app"

[Install]
WantedBy=multi-user.target
