[Unit]
Description=AlertX history Service
After=network-online.target mariadb.service prometheus-alertmanager.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ alertx_history_base_dir }}
ExecStart=/usr/bin/python3 {{ alertx_history_daemon_dir }}/history_daemon.py
Restart=on-failure
RestartSec=10
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
