[Unit]
Description=AlertX drainer App Service
After=network.target

[Service]
WorkingDirectory={{ drainer_path }}
ExecStart=/bin/bash -c "source /trinity/local/python/bin/activate && cd {{ daemon_path  }} && exec /trinity/local/python/bin/gunicorn -b :5554 drainer:app"

[Install]
WantedBy=multi-user.target
