[SERVER]
HOST = {{ alertx_history_listen_host }}
PORT = {{ alertx_history_listen_port }}

[DATABASE]
HOST = {{ alertx_history_sql_host }}
PORT = {{ alertx_history_sql_port }}
NAME = {{ alertx_history_sql_db }}
USER = {{ alertx_history_sql_user }}
PASSWORD_FILE = /etc/trinity/passwords/mysql/{{ alertx_history_sql_user }}.txt
TABLE = {{ alertx_history_sql_table }}

[ALERTMANAGER]
URL = https://127.0.0.1:9093
USER = admin
PASSWORD_FILE = /etc/trinity/passwords/prometheus/admin.txt
POLL_INTERVAL = 30
REQUEST_TIMEOUT = 10

[LOGGER]
DEBUG_MODE = false
LOG_DIR = {{ alertx_history_log_dir }}
