
[LOGGER]
LEVEL = info
LOGFILE = /var/log/alertx/alertx-cli.log
; Logging Level Can be one only from -> debug, info, warning, error, critical

[API]
USERNAME = {{ luna_username }}
PASSWORD = {{ luna_password }}
EXPIRY = 1h
SECRET_KEY = {{ luna_secret_key }}
ENDPOINT = {{ ansible_hostname }}:7050
# setting something else is optional:
#ENDPOINT = {{ trix_ctrl_hostname }}.{{ trix_domain }}:7050
PROTOCOL = {{ luna_protocol }}
VERIFY_CERTIFICATE = {{ luna_verify_certificate }}
