- block:
  - name: Get EasyBuild user info
    ansible.builtin.getent:
      database: passwd
      key: '{{ easybuild_user }}'
    register: easybuild_user_info
    ignore_errors: true
    tags: easybuild-prepare

  - block:
    - name: Generate random password for EasyBuild user
      set_fact:
        easybuild_password: "{{ lookup('password', '/dev/null length=32 chars=abcdef0123456789') }}"

    - name: Ensure EasyBuild user exists
      shell: '/usr/local/sbin/obol user add -p "{{ easybuild_password }}" "{{ easybuild_user }}"'
    when: easybuild_user_info['failed']
    tags: easybuild-prepare

  - name: Wait 5s for user to become
    wait_for:
      timeout: 5
  when:
    - on_controller | default(False)
    - primary | default(False)

- block:
  - name: Ensure EasyBuild shared directory exists
    file:
      path: '{{ trix_easybuild }}'
      state: directory
      owner: '{{ easybuild_user }}'
      mode: 0755
    tags: easybuild-prepare

  - name: Create link so easybuild ends up on /trinity filesystem
    file:
      src: '{{ trix_easybuild }}'
      path: '{{ easybuild_home }}'
      owner: root
      group: root
      state: link

  - name: Remove deprecated easybuild export
    file:
      path: '/etc/exports.d/easybuild.exports'
      state: absent
    notify: Export NFS

  - block:
    - name: collecting proxy information
      set_fact:
        easybuild_http_proxy: "{{ lookup('ansible.builtin.env', 'http_proxy') }}"

    - name: collecting proxy information
      set_fact:
        easybuild_https_proxy: "{{ lookup('ansible.builtin.env', 'https_proxy') }}"

    - name: Install EasyBuild temporarily as user
      block:
        - include_tasks: install_as_user.yml
      become: true
      become_user: '{{ easybuild_user }}'
    when: primary | default(False)
  when: on_controller | default(False)
  tags: easybuild-install, easybuild-env

- name: Create /etc/profile.d/z_easybuild.sh
  template:
    src: z_easybuild.sh.j2
    dest: /etc/profile.d/z_easybuild.sh
    owner: root
    group: root
    mode: '0644'
  tags: easybuild-env

- block:
  - name: Detect easybuild structure
    stat:
      path: '{{ easybuild_home }}'
    register: easybuild_structure

  - name: Remove deprecated easybuild directory
    file:
      path: '{{ easybuild_home }}'
      state: absent
    when:
      - easybuild_structure.stat.islnk is defined
      - not easybuild_structure.stat.islnk

  - name: Ensure EasyBuild shared directory exists
    file:
      path: '{{ trix_easybuild }}'
      state: directory
    tags: easybuild-prepare

  - name: Create link so easybuild ends up on /trinity filesystem
    file:
      src: '{{ trix_easybuild }}'
      path: '{{ easybuild_home }}'
      state: link

  - name: Remove deprecated mount path
    ansible.posix.mount:
      path: '{{ easybuild_home }}'
      state: absent_from_fstab
  when: in_image
