---

- name: Disable repos
  ansible.builtin.shell:
    cmd: "dnf config-manager --set-disable {{ item }}"
  with_items: "{{ disable_repositories }}"
  ignore_errors: true
  tags: disable_repos


- name: Mend repos
  include_tasks: replacebaseurl.yml
  vars:
    name: "{{ item.name }}"
    filter_url: "{{ item.filter_url }}"
    replace_url: "{{ item.replace_url }}"
  with_items: "{{ replace_baseurls }}"
  loop_control:
    loop_var: inner_loop_var
  when: replace_baseurls is defined

