---
# tasks file for sssd

- name: Install sssd packages
  yum:
    name: '{{ sss_packages }}'
    state: present
  tags: install-only

- name: Add configuration file to /etc/sssd/sssd.conf
  template:
    src: 'sssd.conf'
    dest: '/etc/sssd/sssd.conf'
    owner: 'root'
    group: 'root'
    mode: '0600'
  notify: restart sssd

- name: Copy CA certificate
  copy:
    src: "{{ ssl_ca_cert }}"
    dest: /etc/openldap/certs/cluster-ca.crt

- name: Adjust OpenLDAP client TLS configuration
  lineinfile:
    path: '/etc/openldap/ldap.conf'
    line: 'TLS_CACERT   /etc/openldap/certs/cluster-ca.crt'

- name: Enable sssd service
# service:
#   name: sssd
#   enabled: yes
  file:
    src: '/usr/lib/systemd/system/sssd.service'
    dest: '/etc/systemd/system/multi-user.target.wants/sssd.service'
    state: link

- name: Start sssd service
  service:
    name: sssd
    state: started
  when: ansible_connection not in 'lchroot'

- name: Adding access controler groups to the system
  shell: 'obol group list | grep {{ item }} || obol group add {{ item }}'
  register: obol_result
  with_items: '{{ sss_allowed_groups }}'
  changed_when: item not in obol_result.stdout
  when: primary|default(True)
        and ansible_connection not in 'lchroot'
        and not compute|default(False)

- name: Setting up the system to use sssd for authentication
  command: authconfig --enablemkhomedir --enablesssd --enablesssdauth --update
