---

- block:
  - name: Detect openhpc structure
    stat:
      path: '{{ openhpc_home }}'
    register: openhpc_structure

  - name: Remove deprecated openhpc directory
    file:
      path: '{{ openhpc_home }}'
      state: absent
    when:
      - openhpc_structure.stat.islnk is defined
      - not openhpc_structure.stat.islnk

  - name: Remove deprecated mount path
    ansible.posix.mount:
      path: '{{ openhpc_home }}'
      state: absent_from_fstab
  when: in_image

- name: Create trinity/ohpc dir for opt link to point at
  file:
    path: '{{ trix_ohpc }}'
    owner: root
    group: root
    state: directory
    mode: '0755'

- name: Create link so openhpc ends up on /trinity filesystem
  file:
    src: '{{ trix_ohpc }}'
    path: '{{ openhpc_home }}'
    owner: root
    group: root
    state: link

- name: Configure OpenHPC repos
  ansible.builtin.yum_repository:
    name: "openhpc-{{ item.name }}"
    description: "openhpc-{{ item.name }}"
    baseurl: "{{ item.repo }}"
    gpgcheck: "{{ item.gpgcheck | default(False) }}"
    gpgkey: "{{ item.gpgkey | default('') }}"
  with_items: "{{ lookup('ansible.builtin.vars', 'el' + ansible_distribution_major_version + '_openhpc_repositories') }}"

- name: Ensure conflicting rpms from legacy TrinityX are not installed
  yum:
    name:
      - pdsh
      - Lmod
      - lmod
      - environment-modules
    state: removed
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Install ohpc-base
  yum:
    name: ohpc-base
    state: installed
    enablerepo: powertools
  when: on_controller
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Install ohpc-base-compute
  yum:
    name: ohpc-base-compute
    state: installed
  when: on_controller
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- block:
  - name: Install pdsh-mod-genders-ohpc
    yum:
      name: pdsh-mod-genders-ohpc
      state: installed
    retries: "{{ rpm_retries | default(3) }}"
    delay: "{{ rpm_delay | default(15) }}"

  - name: Get /etc/genders status
    stat:
      path: '/etc/genders'
    register: default_genders_path

  - block:
    - name: Ensure {{ genders_conf_path }} exists
      file:
        path: '{{ genders_conf_path }}'
        state: directory

    - name: Create empty pdsh genders file
      file:
        path: '{{ genders_conf_path }}/genders'
        state: touch

    - name: Replace default configuration path with symlink to {{ genders_conf_path }}
      file:
        src: '{{ genders_conf_path }}/genders'
        dest: '/etc/genders'
        state: link
        force: true
      when: genders_conf_path != '/etc'
    when: default_genders_path.stat.exists == false
  when: on_controller

- name: Install lmod dependencies on non-controller nodes
  yum:
    name:
      - lua-filesystem
      - lua-posix
    enablerepo: powertools
    state: installed
  when: in_image
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Create symlinks for pdsh and pdcp
  file:
    dest: "/usr/bin/{{ item }}"
    src: "{{ openhpc_home }}/admin/pdsh/bin/{{ item }}"
    state: link
    force: true
    follow: false
  with_items:
    - pdsh
    - pdcp

- name: Install lmod-ohpc
  yum:
    name: lmod-ohpc
    state: installed
    enablerepo: powertools
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Install profile for modules
  template:
    src: z_trinityx.sh.j2
    dest: /etc/profile.d/z_trinityx.sh

- name: Remove deprecated openhpc export
  file:
    path: '/etc/exports.d/ohpc.exports'
    state: absent
  notify: Export NFS
  when: on_controller
