---
# tasks file for nginx

- name: Install nginx packages
  yum:
    name: '{{ nginx_packages }}'
    state: present
  tags: install-only

- name: Ensure /etc/nginx/conf.d exists
  file:
    path: '/etc/nginx/conf.d'
    owner: root
    group: root
    state: directory

- name: Copy configuration file
  copy:
    src: "nginx.conf"
    dest: "/etc/nginx/nginx.conf"
    backup: yes
  notify: reload nginx in nginx role

- name: Add default ssl configuration
  copy:
    src: "ssl.conf"
    dest: "/etc/nginx/conf.d/ssl.conf"
  notify: reload nginx in nginx role

- name: Enable nginx service
  service:
    name: nginx
    enabled: yes
  when: not ha|default(False)

- block:

  - name: Start nginx service
    service:
      name: nginx
      state: started
      enabled: "{{ not ha|default(True) }}"

  when: primary | default(True)
