---

- name: Loading controller ssh role
  include_tasks: "controller.yml"
  when: 
    - on_controller
    - not extend_image | default(False)

- name: Loading ssh role for nodes, image and extend
  include_tasks: "nodes.yml"

