---
# tasks file for openldap

- name: Install dependencies
  yum:
    name: python3-policycoreutils
    state: installed
  tags: install-only

- name: Generate openldap root password and save it to /etc/trinity/passwords
  set_fact:
    tmp_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/openldap/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"

- name: Get openldap root password from /etc/trinity/passwords
  set_fact:
    openldap_root_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/openldap/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"

- name: Install OpenLDAP packages
  yum:
    name: '{{ openldap_packages }}'
    state: present
    enablerepo:
      - plus
      - powertools
  tags: install-only

- block:
    - name: Selinux fcontext on files
      sefcontext:
        target: "{{ openldap_server_conf_path }}(/.*)?"
        setype: slapd_db_t

- name: Hash OpenLDAP root password
  command: slappasswd -h {SSHA} -s {{ openldap_root_pwd }}
  register: openldap_root_pwd_hash
  changed_when: false
  when: primary | default(True)

- name: Adjust OpenLDAP server TLS configuration
  lineinfile:
    create: yes
    path: '{{ openldap_server_defaults_file }}'
    regexp: '^SLAPD_URLS='
    line: 'SLAPD_URLS="{{ openldap_endpoints }}"'

- name: Adjust OpenLDAP client TLS configuration
  lineinfile:
    path: '/etc/openldap/ldap.conf'
    line: 'TLS_CACERT   /etc/openldap/certs/cluster-ca.crt'

- name: Enable OpenLDAP service
  systemd:
    name: slapd
    enabled: "yes"
  when: not ha|default(False)

- name: Get /etc/openldap/slapd.d status
  stat:
    path: '/etc/openldap/slapd.d'
  register: default_openldap_path

- block:

    - name: Ensure OpenLDAP configuration directory exists
      file:
        path: '{{ openldap_server_conf_path }}'
        state: directory
        owner: '{{ openldap_default_user }}'
        group: '{{ openldap_default_group }}'
        setype: slapd_db_t
        seuser: system_u
      when: primary | default(False)

    - name: Copy default configuration to {{ openldap_server_conf_path }}
      shell: rsync -raW -AX /etc/openldap/slapd.d/* {{ openldap_server_conf_path|quote }}
      args:
        creates: '{{ openldap_server_conf_path }}/cn=config.ldif'
      when: primary | default(True)

    - name: Delete default configuration
      file:
        path: '/etc/openldap/slapd.d'
        state: absent

    - name: Replace default configuration path with symlink to {{ openldap_server_conf_path }}
      file:
        src: '{{ openldap_server_conf_path }}'
        dest: '/etc/openldap/slapd.d'
        state: link
        force: "yes"

  when: openldap_server_conf_path|string not in '/etc/openldap/slapd.d'
        and default_openldap_path.stat.isdir

- name: Add cluster CA certificate to /etc/openldap/certs
  copy:
    src: '{{ openldap_tls_cacrt }}'
    dest: '/etc/openldap/certs/'

- name: Ensure OpenLDAP has access to the ssl certificates
  user:
    name: '{{ openldap_default_user }}'
    groups: '{{ ssl_cert_group }}'

- block:

    - name: Ensure OpenLDAP data directory exists
      file:
        path: '{{ openldap_server_dir_path }}'
        state: directory
        owner: '{{ openldap_default_user }}'
        group: '{{ openldap_default_group }}'
        setype: slapd_db_t
        seuser: system_u

    - name: Start OpenLDAP service
      systemd:
        name: slapd
        state: started
        enabled: "yes"

    - name: Copy OpenLDAP schemas
      copy:
        src: '{{ item }}'
        dest: '/etc/openldap/schema/'
        owner: '{{ openldap_default_user }}'
        group: '{{ openldap_default_group }}'
        mode: '0644'
      with_items:
        - rfc2307bis.ldif
        - autoinc.ldif
        - local_schema.ldif

    - name: Load OpenLDAP schemas
      command: ldapadd -c -Y EXTERNAL -H ldapi:/// -Q -f /etc/openldap/schema/{{ item }}.ldif
      args:
        creates: '/etc/openldap/slapd.d/cn=config/cn=schema/cn={?}{{ item }}.ldif'
      with_items: '{{ openldap_schemas }}'

    - name: Render OpenLDAP configuration
      template:
        src: '{{ item }}.j2'
        dest: '/tmp/{{ item }}'
      with_items:
        - config.ldif
        - local.ldif
        - proxy.ldif
      changed_when: false

    - name: Copy OpenLDAP overlay configurations
      copy:
        src: '{{ item }}'
        dest: '/tmp/'
      with_items:
        - ppolicy.ldif
        - memberof.ldif

    - name: Load OpenLDAP global configuration
      command: ldapmodify -c -Y EXTERNAL -H ldapi:/// -Q -f /tmp/config.ldif
      args:
        creates: '/etc/openldap/slapd.d/cn=config.ldif'
      notify: restart openldap

    - name: Load OpenLDAP local configuration
      command: ldapmodify -c -Y EXTERNAL -H ldapi:/// -Q -f /tmp/{{ item }}
      args:
        creates: '/etc/openldap/slapd.d/cn=config/olcDatabase={?}hdb/olcOverlay={0}memberof.ldif'
      with_items:
        - config.ldif
        - local.ldif
        - proxy.ldif
        - ppolicy.ldif
        - memberof.ldif
      notify: restart openldap

    - name: Check local schemas
      command: 'ldapsearch -H ldapi:// -Y EXTERNAL -b "dc=local" "cn=pwdDefaultPolicy,ou=Policies,dc=local"'
      register: ldapsearch
      failed_when: false
      changed_when: false

        #ldapadd -x -H ldaps:// -D "cn=manager,dc=local" -w {{ openldap_root_pwd }}
    - name: Load OpenLDAP local schema
      command: >
        ldapadd -x -H ldapi:// -D "cn=manager,dc=local" -w {{ openldap_root_pwd }}
                             -f /etc/openldap/schema/local_schema.ldif
      ignore_errors: "yes"
      when: ldapsearch.rc == 32

    - name: Add pacemaker resource
      pcs_resource:
        name: 'openldap'
        resource_class: 'systemd'
        resource_type: 'systemd:slapd'
        options: 'op monitor interval=30 --group Trinity-stack'
        state: present
      when: ha | default(False)
      tags: pcs

  when: primary | default(True)

- meta: flush_handlers
