[Unit]
Description=Remote assistance
After=network.target
StartLimitIntervalSec=3

[Service]
ExecStart=/usr/local/bin/remote-assistance.sh
Type=simple
Restart=always
RestartSec=3
StandardOutput=null

[Install]
WantedBy=multi-user.target
