[Unit]
Description=Remote assistance
After=network.target

[Service]
ExecStart=/usr/local/bin/request-remote-assistance-automated
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
