[Unit]
Description=Remote assistance
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/request-remote-assistance-automated -c -l
Type=simple
Restart=always
RestartSec=3
StandardOutput=null

[Install]
WantedBy=multi-user.target
