#!/bin/bash

/usr/bin/aria2c --summary-interval=600 --enable-dht=false --seed-ratio=100000.0 -V -d{{ trix_luna }}/daemon/files/ --check-certificate=false {{ trix_luna }}/daemon/files/*.torrent

# other usefull options are:
# --no-conf 
# --console-log-level=error 
# --log-level=error 
# --download-result=hide 
# --summary-interval=0

