---
- name: Load a variable file based on the OS type, or a default if not found. Using free-form to specify the file.
  include_vars: "{{ package_arch }}/image-{{ image_create_distribution }}.yaml"
  no_log: true
  ignore_errors: true

- name: Install required packages
  yum:
    name: "{{ required_packages }}"
    state: present
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Gather debootstrap version
  shell: "debootstrap --version | awk '{print $2}'"
  register: debootstrap_version

- name: Copy missing debootstrap files if they don't exist
  copy:
    src: "files/ubuntu/{{ item }}"
    dest: "/usr/share/debootstrap/scripts/"
    mode: 0755
  with_items:
    - focal
    - jammy
    - noble
  when: debootstrap_version.stdout.startswith('1.0.136') or debootstrap_version.stdout.startswith('1.0.137')
  

- name: Build basic Ubuntu image
  shell: "debootstrap --variant=buildd {{ ubuntu_distribution_release }} {{ image_path }} {{ ubuntu_distribution_source }} | tee /tmp/debootstrap.log"
  retries: 10
  delay: 15
  register: ubuntu_base_image_result
  until: ubuntu_base_image_result.rc == 0

- name: Verify logs
  shell: "grep 'E:' /tmp/debootstrap.log | grep -v 'Tried to extract package' > /dev/null && echo fail || true"
  register: ubuntu_base_image_verify

- name: Verify build
  fail:
    msg: "Ubuntu basic image build failed. please rerun playbook or look at /tmp/debootstrap.log"
  when: ubuntu_base_image_verify.stdout == 'fail'

- name: Create {{ image_path }}/dev
  file:
    path: "{{ image_path }}/dev/"
    state: directory
    mode: 0755
    owner: root
    group: root

- name: Create basic /dev files
  command: "/usr/bin/mknod {{ image_path }}/dev/{{ item.dev }} {{ item.t }} {{ item.ma }} {{ item.mi }} creates={{ image_path }}/dev/{{ item.dev }}"
  args:
    creates: "{{ image_path }}/dev/{{ item.dev }}"
  with_items:
    - {dev: "null", mo: "666", t: 'c', ma: 1, mi: 3}  # device, mode, type, major, minor
    - {dev: "zero", mo: "666", t: 'c', ma: 1, mi: 5}
    - {dev: "random", mo: "666", t: 'c', ma: 1, mi: 8}
    - {dev: "urandom", mo: "666", t: 'c', ma: 1, mi: 9}
    - {dev: "console", mo: "600", t: 'c', ma: 5, mi: 1}
    - {dev: "ptmx", mo: "666", t: 'c', ma: 5, mi: 2}
    - {dev: "tty", mo: "666", t: 'c', ma: 5, mi: 0}

  # seen in the field where /dev/null had wrong permissions for unknown reasons. apt will fail.
- name: Ensure /dev/null is world writeable
  file:
    path: "{{ image_path }}/dev/null"
    mode: "0666"

- name: Install bootstrap packages in {{ image_path }}
  shell: "chroot {{ image_path }} apt-get install -y {{ item }}"
  with_items:
    - python3
