---
- name: Load a variable file based on the OS type, or a default if not found. Using free-form to specify the file.
  include_vars: "{{ package_arch }}/docker-{{ image_create_distribution }}.yaml"
  no_log: true
  ignore_errors: true

- name: Create /dev
  file:
    path: "/dev/"
    state: directory
    mode: 0755
    owner: root
    group: root

- name: Create basic /dev files
  command: "/usr/bin/mknod /dev/{{ item.dev }} {{ item.t }} {{ item.ma }} {{ item.mi }} creates=/dev/{{ item.dev }}"
  args:
    creates: "/dev/{{ item.dev }}"
  with_items:
    - {dev: "null", mo: "666", t: 'c', ma: 1, mi: 3}  # device, mode, type, major, minor
    - {dev: "zero", mo: "666", t: 'c', ma: 1, mi: 5}
    - {dev: "random", mo: "666", t: 'c', ma: 1, mi: 8}
    - {dev: "urandom", mo: "666", t: 'c', ma: 1, mi: 9}
    - {dev: "console", mo: "600", t: 'c', ma: 5, mi: 1}
    - {dev: "ptmx", mo: "666", t: 'c', ma: 5, mi: 2}
    - {dev: "tty", mo: "666", t: 'c', ma: 5, mi: 0}

  # seen in the field where /dev/null had wrong permissions for unknown reasons. apt will fail.
- name: Ensure /dev/null is world writeable
  file:
    path: "/dev/null"
    mode: "0666"

- name: Updating Apt
  shell: "apt-get update"
  ignore_errors: true
  when: image_update_packages|default(True)

- name: Install core packages - @core, kernel and grub2
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  ignore_errors: true
  with_items: "{{ image_core_packages }}"
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Download luna2-client package
  get_url:
    url: "{{ luna2_client_package }}"
    dest: "/tmp/{{ luna2_client_package|split('/')|last }}"

- name: install luna2-client package
  shell: "dpkg --force-architecture -i /tmp/{{ luna2_client_package|split('/')|last }}"

