---
- name: Include password tasks
  include_role:
    name: trinity/password
  tags: mytest

- name: Include ssh tasks
  include_role: 
    name: trinity/ssh

- name: Include luna2 tasks
  include_role: 
    name: trinity/luna2

- name: Configuring resolv.conf
  copy:
    dest: "{{ image_path }}/etc/resolv.conf"
    content: "nameserver {{ trix_ctrl_ip }}"
