{{ ansible_managed | comment }}

[Unit]
Description=Prometheus infiniband Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ prometheus_infiniband_exporter_system_user }}
Group={{ prometheus_infiniband_exporter_system_group }}
ExecStart={{ prometheus_infiniband_exporter_binary_install_dir }}/prometheus-infiniband-exporter \
    --web.listen-address={{ prometheus_infiniband_exporter_web_listen_host }}:{{ prometheus_infiniband_exporter_web_listen_port }} \
    --collector.hca {% if on_controller or in_login_image|default(False) -%} --collector.switch {%- else -%} --no-collector.switch {%- endif %}


SyslogIdentifier=prometheus_infiniband_exporter
Restart=always
RestartSec=1
{% if prometheus_infiniband_exporter_log_dir is defined %}
StandardOutput=append:{{prometheus_infiniband_exporter_log_dir}}/prometheus_infiniband_exporter.log
{% endif %}
PrivateTmp=yes
{% for m in (ansible_mounts|default([])) if m.mount == '/home' %}
ProtectHome=read-only
{% else %}
ProtectHome=yes
{% endfor %}
NoNewPrivileges=yes

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
