---
{{ ansible_managed | comment }}
{% if prometheus_alertmanager_auth.enabled %}
basic_auth_users:
  {{ prometheus_alertmanager_auth_user }}: {{ prometheus_alertmanager_auth_password | password_hash('blowfish', ident='2b$12') }}
{% endif %}
{% if prometheus_alertmanager_tls.enabled %}
tls_server_config:
  cert_file: {{ prometheus_alertmanager_tls.cert_file }}
  key_file: {{ prometheus_alertmanager_tls.key_file }}
{% endif %}

