alertmanager.url: "{{ prometheus_alertmanager_amtool_config_alertmanager_url }}"
{%if prometheus_alertmanager_amtool_config_output != "" %}
output: "{{ prometheus_alertmanager_amtool_config_output }}"
{% endif %}
