{%- if prometheus_alertmanager_version is version_compare('0.13.0', '>=') %}
{%- set pre = '-' %}
{%- else %}
{%- set pre = '' %}
{%- endif %}
{%- if prometheus_alertmanager_version is version_compare('0.15.0', '<') %}
{%- set cluster_flag = 'mesh' %}
{%- else %}
{%- set cluster_flag = 'cluster' %}
{%- endif %}
{{ ansible_managed | comment }}
[Unit]
Description=Prometheus Alertmanager
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
PIDFile=/var/run/alertmanager.pid
User=alertmanager
Group=alertmanager
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ _prometheus_alertmanager_binary_install_dir }}/alertmanager \
{% for option, value in (prometheus_alertmanager_cluster.items() | sort) %}
{%   if option == "peers" %}
{%     for peer in value %}
  {{ pre }}-{{ cluster_flag }}.peer={{ peer }} \
{%     endfor %}
{%   else %}
  {{ pre }}-{{ cluster_flag }}.{{ option }}={{ value }} \
{%   endif %}
{% endfor %}
{% if prometheus_alertmanager_auth_credentials_file %}
  {{ pre }}-web.config.file={{ prometheus_alertmanager_config_dir }}/alertmanager.web.yml \
{% endif %}
  {{ pre }}-config.file={{ prometheus_alertmanager_config_dir }}/alertmanager.yml \
  {{ pre }}-storage.path={{ prometheus_alertmanager_db_dir }} \
  {{ pre }}-web.listen-address={{ prometheus_alertmanager_web_listen_host }}:{{ prometheus_alertmanager_web_listen_port }} \
  {{ pre }}-web.external-url={{ prometheus_alertmanager_web_external_url }}
SyslogIdentifier=alertmanager
Restart=always
RestartSec=5
{% if prometheus_alertmanager_log_dir is defined %}
StandardOutput=append:{{prometheus_alertmanager_log_dir}}/prometheus.output.log
StandardError=append:{{prometheus_alertmanager_log_dir}}/prometheus.error.log
{% endif %}
CapabilityBoundingSet=CAP_SET_UID
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectHome=true
ReadWriteDirectories={{ prometheus_alertmanager_db_dir }}
RemoveIPC=true
RestrictSUIDSGID=true

{% if (ansible_facts.packages.systemd | first).version is version('232', '>=') %}
PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
ProtectSystem=strict
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
