{
  "client": {
    "systemd": {
      "services": " chronyd.service slurmd.service sssd.service telegraf.service munge.service "
    },
    "subscriptions": [
      "linux",
      "systemd",
      "redhat"
    ]
  }
}
