{
  "client": {
    "http_socket": {
      "bind": "0.0.0.0",
      "port": 4568
    },
    "systemd": {
      "services": " chronyd.service slurmd.service sssd.service telegraf.service munge.service "
    },
    "subscriptions": [
      "linux",
      "systemd",
      "redhat"
    ]
  }
}
