Defaults:{{ sensu_user }} secure_path="/opt/sensu/embedded/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# blindly allow all sensu-install provided checks and metrics which follow the proper naming convention with all possible arguments
{{ sensu_user }} ALL=(ALL) NOPASSWD: /opt/sensu/embedded/bin/check*.rb *
{{ sensu_user }} ALL=(ALL) NOPASSWD: /opt/sensu/embedded/bin/metrics*.rb *
