{{ ansible_managed | comment }}

bind_ip = 0.0.0.0
fork = true
pidfilepath = /var/run/mongodb/mongod.pid
logpath = /var/log/mongodb/mongod.log
unixSocketPrefix = /var/run/mongodb
dbpath = {{ mongo_db_path }}
auth = false
directoryperdb = true
#noprealloc = true
#smallfiles = true
