---
- name: Defining group name
  set_fact:
    luna_group_name: '{{ luna_image_name | regex_replace("^(.*)-image$", "\1-group") }}'
  when: luna_group_name is not defined

- name: Defining distribution
  set_fact:
    luna_image_distribution: ansible_facts['os_family']
  when: luna_image_distribution is not defined


- name: Verify if image already exists in luna
  shell: "luna osimage show {{ luna_image_name }}"
  register: luna_image_in_luna
  ignore_errors: true

- name: Verify if group already exists in luna
  shell: "luna group show {{ luna_group_name }}"
  register: luna_group_in_luna
  ignore_errors: true

- name: Setting command for getting distribution version from the image
  set_fact:
    luna_image_detect_major_version_command: "{{ item.command }}"
  with_items: "{{ luna_image_detect_major_version }}"
  when: item.name == luna_image_distribution

- debug:
    msg: "{{ luna_image_detect_major_version }}"


- name: Fetching the distribution version from the image
  shell: "{{ luna_image_detect_major_version_command }}"
  ignore_errors: true
  register: luna_image_major_version

- debug:
    msg: "{{ luna_image_major_version }}"

- name: Creating image in luna
  shell: "luna osimage add --path \"{{ luna_image_path }}\" --distribution {{ luna_image_distribution|lower }} --osrelease {{ luna_image_major_version.stdout }} --quick-kerneloptions \"net.ifnames=0 biosdevname=0\" {{ luna_image_name }}"
  when: luna_image_in_luna is defined and luna_image_in_luna.rc|int != 0

- name: Setting release for image
  shell: "luna osimage change --distribution {{ luna_image_distribution|lower }} --osrelease {{ luna_image_major_version.stdout }} {{ luna_image_name }}"
  when: luna_image_in_luna is defined and luna_image_in_luna.rc|int == 0


- name: Kernel version in image
  shell: "ls {{ luna_image_path }}/lib/modules|sort|tail -n1"
  register: kernel_version
  changed_when: false

- name: Set the kernel version for image
  ansible.builtin.shell:
    cmd: "luna osimage change --kernelversion {{ kernel_version.stdout }} {{ luna_image_name }}"
  when:
    - kernel_version is defined
    - kernel_version.rc|int == 0
    - kernel_version.stdout_lines|length > 0


- block:
  - set_fact:
      luna_image_distri: 'ubuntu'
    when: luna_image_distribution == 'Debian' or luna_image_distribution == 'Ubuntu' 

  - set_fact:
      luna_image_distri: 'opensuse'
    when: luna_image_distribution == "Suse" or luna_image_distribution == "SLE" or luna_image_distribution == "OpenSuse"

  - name: preparing part/post script
    copy:
      src: "{{ luna_image_distri }}/{{ item }}"
      dest: "/tmp/{{ item }}"
    with_items:
      - part.rd
      - post.rd

  - name: Creating group in luna
    shell: "luna group add --osimage {{ luna_image_name }} -qpart /tmp/part.rd -qpost /tmp/post.rd {{ luna_group_name }}"
    when: luna_image_distri is defined

  - name: Creating group in luna
    shell: "luna group add --osimage {{ luna_image_name }} {{ luna_group_name }}"
    when: luna_image_distri is not defined
  when: group_in_luna is defined and group_in_luna.rc|int != 0


- name: Refresh the list of hosts in the inventory
  meta: refresh_inventory
