{{ ansible_managed | comment }}

[client]
socket={{ mariadb_db_path }}/mysql.sock
user=root
password={{ mysql_root_pwd }}

[mysql]
socket={{ mariadb_db_path }}/mysql.sock
user=root
password={{ mysql_root_pwd }}

[mysqldump]
socket={{ mariadb_db_path }}/mysql.sock
user=root
password={{ mysql_root_pwd }}
