---
# tasks file for ds389

- name: Install dependencies
  yum:
    name: '{{ ds389_dependencies }}'
    state: installed
  tags: install-only
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

# -- start sync
- block:
  - name: Ensure password loction exists
    file:
      path: '/etc/trinity/passwords/ds389'
      state: directory
      mode: 0700

  - name: Copy ds389 password from sync
    copy:
      remote_src: true
      src: '{{ trix_sync }}/ds389/root.txt'
      dest: '/etc/trinity/passwords/ds389/'
  when: 
    - not primary | default(False)
    - ha | default(False)
# -- end sync

- name: Generate ds389 root password and save it to /etc/trinity/passwords
  set_fact:
    tmp_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/ds389/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"

- name: Get ds389 root password from /etc/trinity/passwords
  set_fact:
    ds389_root_pwd: "{{ lookup('password',
                          '/etc/trinity/passwords/ds389/root.txt
                           chars=ascii_letters,digits,hexdigits') }}"

# sync
# -- start sync
- block:
  - name: Ensure ds389 sync directory exists
    file:
      path: '{{ trix_sync }}/ds389'
      state: directory

  - name: Add ds389 password to sync
    copy:
      remote_src: true
      src: '/etc/trinity/passwords/ds389/root.txt'
      dest: '{{ trix_sync }}/ds389/'
      mode: 0640
  when:
    - primary | default(True)
    - ha | default(False)
# -- end sync


- name: Install 389DS packages
  yum:
    name: '{{ ds389_packages }}'
    state: present
    enablerepo:
      - plus
      - powertools
      - appstream
  tags: install-only
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

# --- Instance Creation ---
- name: Create 389DS instance configuration file (.inf)
  template:
    src: ds389_instance.inf.j2
    dest: "/etc/dirsrv/ds389-local.inf"
    mode: '0600'
  when: primary | default(True)

- name: Setup 389DS instance from file
  command: dscreate from-file /etc/dirsrv/ds389-local.inf
  args:
    creates: "/etc/dirsrv/slapd-local/dse.ldif"
  when: primary | default(True)

#- block:
#  - name: Selinux fcontext on files
#    sefcontext:
#      target: "{{ ds389_server_conf_path }}(/.*)?"
#      setype: slapd_db_t
#  when: ansible_selinux.status == "enabled"

# ----------------------------------------------------------------

- name: Get /etc/dirsrv/slapd status
  stat:
    path: '/etc/dirsrv/slapd-local'
  register: default_ds389_path

- block:
  - name: Ensure 389DS configuration directory exists
    file:
      path: '{{ ds389_server_conf_path }}'
      state: directory
      owner: '{{ ds389_default_user }}'
      group: '{{ ds389_default_group }}'
      #setype: slapd_db_t
      #seuser: system_u
    when: primary | default(False)

  - name: Copy default configuration to {{ ds389_server_conf_path }}
    shell: rsync -raW -AX /etc/dirsrv/slapd-local/* {{ ds389_server_conf_path|quote }}
    args:
      creates: '{{ ds389_server_conf_path }}/dse.ldif'
    register: dirsrv_copy_conf
    ignore_errors: true
    when: primary | default(True)

  - name: Copy default configuration to {{ ds389_server_conf_path }} without xattr
    shell: rsync -raW /etc/dirsrv/slapd-local/* {{ ds389_server_conf_path|quote }}
    args:
      creates: '{{ ds389_server_conf_path }}/dse.ldif'
    when:
      - primary | default(True)
      - dirsrv_copy_conf is failed

  - name: Delete default configuration
    file:
      path: '/etc/dirsrv/slapd-local'
      state: absent

  - name: Replace default configuration path with symlink to {{ ds389_server_conf_path }}
    file:
      src: '{{ ds389_server_conf_path }}'
      dest: '/etc/dirsrv/slapd-local'
      state: link
      force: true
  when: ds389_server_conf_path|string not in '/etc/dirsrv/slapd-local'
        and default_ds389_path.stat.isdir

# ----------------------------------------------------------------

- name: Get /var/lib/dirsrv/slapd status
  stat:
    path: '/var/lib/dirsrv/slapd-local'
  register: default_ds389_data

- block:
  - name: Ensure 389DS data directory exists
    file:
      path: '{{ ds389_server_dir_path }}'
      state: directory
      owner: '{{ ds389_default_user }}'
      group: '{{ ds389_default_group }}'
      setype: slapd_db_t
      seuser: system_u
    when: primary | default(True)

  - name: Copy default configuration to {{ ds389_server_conf_path }}
    shell: rsync -raW -AX /etc/dirsrv/slapd-local/* {{ ds389_server_conf_path|quote }}
    args:
      creates: '{{ ds389_server_conf_path }}/db'
    register: dirsrv_copy_data
    ignore_errors: true
    when: primary | default(True)

  - name: Copy default configuration to {{ ds389_server_conf_path }} without xattr
    shell: rsync -raW /etc/dirsrv/slapd-local/* {{ ds389_server_conf_path|quote }}
    args:
      creates: '{{ ds389_server_conf_path }}/db'
    when:
      - primary | default(True)
      - dirsrv_copy_data is failed

  - name: Delete default configuration
    file:
      path: '/var/lib/dirsrv/slapd-local'
      state: absent

  - name: Replace default configuration path with symlink to {{ ds389_server_conf_path }}
    file:
      src: '{{ ds389_server_dir_path }}'
      dest: '/var/lib/dirsrv/slapd-local'
      state: link
      force: true

#  - name: Copy 389DS schemas
#    copy:
#      src: '{{ item }}'
#      dest: '/etc/dirsrv/schema/'
#      owner: '{{ ds389_default_user }}'
#      group: '{{ ds389_default_group }}'
#      mode: '0644'
#    with_items:
#      - local_schema.ldif
  when: ds389_server_dir_path|string not in '/var/lib/dirsrv/slapd-local'
        and default_ds389_data.stat.isdir



#- name: Start 389DS service
#  systemd:
#    name: slapd
#    state: started
#    enabled: true
#  when: primary | default(True)
#
#- name: Enable 389DS service
#  systemd:
#    name: dirsrv
#    enabled: true
#  when: not ha|default(False)


