[Unit]
SourcePath=/etc/init.d/uchiwa

[Service]
Type=forking
ExecStart=/etc/init.d/uchiwa start
ExecStop=/etc/init.d/uchiwa stop

[Install]
WantedBy=multi-user.target
