
######################################################################
# TrinityX
# Copyright (c) 2016  ClusterVision B.V.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License (included with the sources) for more
# details.
######################################################################


################################################################################
##
##  CENTRAL CONFIGURATION FILE
##
##  Reference configuration for a controller HA pair setup
##
################################################################################

# This file is a valid Bash script that will be sourced by the installer script
# to obtain the configuration for the type of node.


#===============================================================================
#
#  GENERAL CONFIGURATION
#
#===============================================================================

# Directory in which the post scripts are located.
# If it is a relative path, then it is relative to the directory where this file
# resides.

POSTDIR="."

# Array of required post scripts, in the order in which they will run.
# NOTE: Those are basenames, without any extension -- not the actual name of the
#       script files themselves.

POSTLIST=(
            # HA-independant base packages
            # Those do not require trinity.sh, the shared FS or Pacemaker
            controller/hosts
            controller/yum-cache
            controller/local-repos
            controller/base-packages
            controller/additional-repos
            controller/additional-packages
            controller/yum-update
            controller/firewalld
            controller/chrony
            controller/rdma-centos

            # Critical section begins here ------------------
            # Do not change the order of those post scripts!
            controller/detect-primary
            controller/critical-section-beginning
            controller/ssh
            controller/pacemaker
            filesystem/shared-storage
            filesystem/nfs-server
            controller/critical-section-end
            # Critical section ends here --------------------

            controller/fail2ban
            controller/environment-modules
            controller/applications
            controller/openldap
            controller/sssd
            controller/bind
            controller/mariadb
            controller/slurm-pre
            controller/slurm
            controller/mongo
            controller/luna
            controller/postfix
            controller/rsyslog
            # controller/docker-registry
            # controller/docker
            controller/zabbix
            controller/zabbix-agent
            controller/services-cleanup
         )


# Path to which the standard TrinityX files will be installed.
# If not set, it will default to /trinity

#STDCFG_TRIX_ROOT=

# The TrinityX root contains multiple subdirectories for different uses:
# - TRIX_HOME for the user home directories
# - TRIX_IMAGES for the compute node images
# - TRIX_LOCAL for configuration files specific to each machine
# - TRIX_SHARED for everything shared by the controllers to the nodes
#
# By default those exist under TRIX_ROOT. There are some cases where this is not
# desirable; the following variables allow you to override the default paths.
# WARNING: use with caution! It's not well tested and there may be some issues
# here and there...

#STDCFG_TRIX_HOME=
#STDCFG_TRIX_IMAGES=
#STDCFG_TRIX_LOCAL=
#STDCFG_TRIX_SHARED=

# Trinity version number
# If not specified, it will be set to the output of "git describe --tags".

#STDCFG_TRIX_VERSION=10



#===============================================================================
#
#  HA CONFIGURATION
#
#===============================================================================

# Do we want HA?
# Comment out to disable HA, set to 1 to enable it.

HA=1

# Default hostname and IP for the controller
# In an HA pair, those are the hostname and IP for the first controller.
# Those variables are required, with or without HA.

CTRL1_HOSTNAME=controller1
CTRL1_IP=10.141.255.254

# In a non-HA setup, all of the following variables will be ignored:
# - the variables for CTRL will be set to the same as CTRL1;
# - the variables for CTRL2 will be unset.

# Hostname and IP of the second controller

CTRL2_HOSTNAME=controller2
CTRL2_IP=10.141.255.253

# Floating hostname and IP

CTRL_HOSTNAME=controller
CTRL_IP=10.141.255.252

# A domain name to be assigned to the controller(s) and nodes
# on the internal network.
# Luna's provisioning network name will be set to the same value.
DOMAIN=cluster


#-----------------------------------------------------------
# pacemaker
#-----------------------------------------------------------

# IP addresses of the ring 0 communication network for Corosync
# If unset, they will default to the main IP addresses for both controllers.
# Not that the two IPs must be on the same network (subnet / netmask), and must
# be able to communicate with each other (rather obviously).
# It is highly recommended to leave the ring 0 on the main IP addresses, and to
# do custom configuration of Corosync to add other rings for other networks (IB,
# IPMI, anything that can help determine if a controller is down).

#COROSYNC_CTRL1_IP=
#COROSYNC_CTRL2_IP=

# Password for the "hacluster" user
# Pacemaker expect all nodes that are part of the HA cluster to have a local
# user called "hacluster", with the same password everywhere.
# A random one will be generated if unset.

#PACEMAKER_HACLUSTER_PW=


#-----------------------------------------------------------
# Shared filesystem
#-----------------------------------------------------------

# Configuration of the shared filesystem
# This includes the basic configuration for non-HA setups, as well as more
# advanced HA setups.

#***************************************
#      READ THE DOCUMENTATION !
#***************************************
# This is a complex post script with multiple options and numerous possible
# combinations. It is fully documented in the TrinityX documentation. RTFM!

# Backend type
# Possible values: none, export, dev, drbd

SHARED_FS_TYPE=dev

# Block device for use by dev or drbd

SHARED_FS_DEVICE=/dev/sdzz

# Alternate IPs for DRBD replication and synchronization

#SHARED_FS_CTRL1_IP=
#SHARED_FS_CTRL2_IP=

# Wait for full DRBD synchronization during secondary install before continuing
# with the install. This is highly recommended.
# Uncomment to enable, comment out to disable.

SHARED_FS_DRBD_WAIT_FOR_SYNC=1

# Don't format the block device
# *** WARNING *** Unsafe, read the documentation!
# Uncomment to skip formatting, comment out to format.

#SHARED_FS_NO_FORMAT=1

# Additional options for formatting the block device for dev and drbd.
# The filesystem is XFS. The default options are: -b size=4096 -s size=4096
# Any additional option is included after those.

#SHARED_FS_FORMAT_OPTIONS=""

# Use UUIDs instead of device names? This applies to dev only, as drbd always
# uses the resource name.
# Uncomment to use UUIDs, comment out to use device names.

#SHARED_FS_DEV_UUID=1


#-----------------------------------------------------------
# NFS server
#-----------------------------------------------------------

# Non-HA and HA NFS server configuration
# Note that this post script also sets up the NFS mounts on the secondary
# controller.

#***************************************
#      READ THE DOCUMENTATION !
#***************************************
# This is a complex post script with multiple options and numerous possible
# combinations. It is fully documented in the TrinityX documentation. RTFM!

# Number of NFS server threads to start. Default is 8, the best number depends
# on the amount of nodes and traffic.

NFS_RPCCOUNT=256

# Listen to the nfsrdma port (20049) for NFS-over-RDMA?
# To make use of that feature, you need hardware that support RDMA in a way or
# another: iWARP, InfiniBand, RoCE for example. It will *NOT* work on regular
# Ethernet cards without HW support.
# This does not remove the ability to use the regular TCP proto, and is safe to
# enable on RDMA-supporting hardware.
# Note that enabling this feature will automatically configure the compute
# images to use RDMA instead of TCP.
# Uncomment to enable, comment out to disable.

#NFS_ENABLE_RDMA=1

# Enable or disable individual exports
# The defaults should be fine in most cases, check the documentation.

#NFS_EXPORT_LOCAL=
#NFS_EXPORT_IMAGES=
#NFS_EXPORT_SHARED=
#NFS_EXPORT_HOME=



#===============================================================================
#
#  SCRIPT-SPECIFIC CONFIGURATION
#
#===============================================================================

#-----------------------------------------------------------
# yum-cache
#-----------------------------------------------------------

# Keep the RPM files after installation?
# This is an easy way to obtain the full list of packages that are required for
# a given configuration. They can be used to populate the local-repo for an
# offline installation later.
# Set to 1 to enable persistent cache, comment out otherwise.

YUM_PERSISTENT_CACHE=1

# Clear yum cache before installing anything?
# This is mostly useful to make sure that the cache will not have any leftover
# package from some other repo, so that we can have a clean list of packages
# for an offline installation later.
# In doubt, don't clear the cache.
# Set to 1 to clear the cache, comment out to keep it.

#YUM_CLEAR_CACHE=1


#-----------------------------------------------------------
# local-repos
#-----------------------------------------------------------

# Disable all remote repositories?
# This is only useful for offline installations where the systems will be
# permanently cut off from the internet. In that case there's no point trying to
# connect to the remote servers.
# You will need to populate a local repository with all the packages that will
# be needed during the installation.
# Don't disable them if you're not 100% sure of what you're doing.
# Set to 1 to disable them, comment out otherwise.

#REPOS_DISABLE_REMOTE=0


#-----------------------------------------------------------
# firewalld
#-----------------------------------------------------------

# The standard configuration uses only 2 zones: Public and Trusted.
# For interfaces that should have a different set of rules, please do the
# configuration by hand.

# All interfaces that are *not* listed in the variables below will not be
# touched.

# List of interfaces that will be added or moved to the Public zone.
# By default, only SSH and DHCP6 are allowed in the Public zone, all other
# incoming connections are blocked.

FWD_PUBLIC_IF="eth2"

# List of interfaces that will be added or moved to the Trusted zone.
# By default, everything is open in the Trusted zone.

FWD_TRUSTED_IF="eth0 eth1"

# Set up IP Masquerading (NAT) for the public zone.
# It is highly recommended to have only one interface in the public zone if this
# option is selected.
# If commented out or set to zero, no NAT will be set up.

FWD_NAT_PUBLIC=1

# List of TCP ports to open on the public interface

FWD_TCP_PUBLIC=( 443 )

# List of UDP ports to open on the public interface

FWD_UDP_PUBLIC=( )


#-----------------------------------------------------------
# chrony
#-----------------------------------------------------------

# List of upstream NTP servers, space-separated.
# If commented out, the default pool servers will be used.
# If set to an empty string, the cluster controllers will be used. This is only
# useful for client images.

#CHRONY_UPSTREAM=""

# Provide NTP service on the internal networks?
# - if comment out or set to 0, it will be disabled.
# - if set to 1, it will run for all networks.
# - if set to a space-separated list of subnets, it will run only for those
#   subnets. See the chrony documentation for the exact syntax:
#   https://chrony.tuxfamily.org/manual.html

CHRONY_SERVER=1


#-----------------------------------------------------------
# openldap
#-----------------------------------------------------------

# LDAP root password
# A random one will be generated if unset

# SLAPD_ROOT_PW=


#-----------------------------------------------------------
# sssd
#-----------------------------------------------------------

# Space separated list of the groups that can access the controllers
# Any user that does not belong to one of these will be denied access

CTRL_ALLOWED_GROUPS="admins users"


#-----------------------------------------------------------
# bind
#-----------------------------------------------------------

# Upstream DNS servers
# ISC BIND doesn't support dynamic (eg. DHCP-provided) DNS forwarders. As we
# need to forward requests that can't be answered in the local zone, we need to
# provide some static upstream IPs.
# For a regular HPC installation, those are the local or ISP DNS.
# On machines that change network often and are configured via DHCP, use
# network-independant DNS services (Google or OpenDNS for example).
# IPs are space-separated. If not set, no forwarder configuration will be done
# (which seems to work anyway half of the time).
# Google:  8.8.8.8 8.8.4.4
# OpenDNS: 208.67.22{0,2}.22{0,2}

BIND_FORWARDERS="8.8.8.8 8.8.4.4"

# By default BIND is configured with DNSSEC activated, which causes issues with
# servers that don't support it. Set this configuration option to 1 to disable
# DNSSEC, or comment it out to leave the configuration as it is.

BIND_DISABLE_DNSSEC=1


#-----------------------------------------------------------
# mariadb
#-----------------------------------------------------------

# Will be generated if unset

# MYSQL_ROOT_PASSWORD=


#-----------------------------------------------------------
# slurm
#-----------------------------------------------------------

# Slurmdbd credentials

SLURMDBD_MYSQL_DB="slurm_accounting"
SLURMDBD_MYSQL_USER="slurm_accounting"

# Will be generated if unset

# SLURMDBD_MYSQL_PASS=


#-----------------------------------------------------------
# zabbix
#-----------------------------------------------------------

# Zabbix credentials

ZABBIX_MYSQL_USER="zabbix"
ZABBIX_MYSQL_DB='zabbix'
ZABBIX_DATABASE_OVERWRITE="no"
#
# Enable houskeeping for history and trends.
# Override zabbix values for all checks/templates.
#
#ZABBIX_STORE_HISTORY=90
#ZABBIX_STORE_TRENDS=365

# Passwords will be generated if unset

# ZABBIX_ADMIN_PASSWORD=
# ZABBIX_MYSQL_PASSWORD=


#-----------------------------------------------------------
# luna
#-----------------------------------------------------------

# Luna network configuration

LUNA_FRONTEND=${TRIX_CTRL_IP}
LUNA_NETWORK=10.141.0.0
LUNA_PREFIX=16
LUNA_NETWORK_NAME=$DOMAIN
LUNA_DHCP_RANGE_START=10.141.128.1
LUNA_DHCP_RANGE_END=10.141.140.200


#-----------------------------------------------------------
# rsyslog
#-----------------------------------------------------------

RSYSLOG_MESSAGES_PATH="/var/log/cluster-messages"
RSYSLOG_CLIENT_NETWORK=${LUNA_NETWORK}
RSYSLOG_CLIENT_NETWORK_PREFIX=${LUNA_PREFIX}

