
######################################################################
# TrinityX
# Copyright (c) 2016  ClusterVision B.V.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License (included with the sources) for more
# details.
######################################################################


################################################################################
##
##  CONFIGURATION FILE for a non-HA controller
##
################################################################################

# Sourcing the default config
source "${POST_CONFDIR}/controller-HA.cfg"


# Disabling HA and matching a non-numbered hostname
HA=0
CTRL1_HOSTNAME=controller


# Some options that you will need to redefine, see controller-HA.cfg and the
# documentation for more details:

SHARED_FS_TYPE=export
SHARED_FS_DEVICE=

