
################################################################################
##
##  Active controller nodes configuration
##
################################################################################

# Sourcing the default config 
source "$(dirname "$1")/controller.cfg"

#-----------------------------------------------------------
# list of postscripts
#-----------------------------------------------------------

POSTDIR="ha"

POSTLIST=( \
           controller-master \
           pacemaker-master \
           luna-master \
           mariadb-master \
           drbd-master \
           slurm-master \
           nfs-server-master \
         )


#-----------------------------------------------------------
# pacemaker-master
#-----------------------------------------------------------

PACEMAKER_FLOATING_HOST=${CTRL_IP}
PACEMAKER_MASTER_HOST=${CTRL1_IP}
PACEMAKER_SLAVE_HOST=${CTRL2_IP}

#-----------------------------------------------------------
# luna-master
#-----------------------------------------------------------

MONGODB_FLOATING_HOST=${CTRL_IP}
MONGODB_MASTER_HOST=${CTRL1_IP}
MONGODB_SLAVE_HOST=${CTRL2_IP}

#-----------------------------------------------------------
# mariadb-master
#-----------------------------------------------------------

MARIADB_REP_USER=sql_replication
MARIADB_REP_MASTER_HOST=${CTRL1_IP}
MARIADB_REP_SLAVE_HOST=${CTRL2_IP}
PACEMAKER_MONITOR_USER=pacemaker
PACEMAKER_MONITOR_DB=pacemaker
# PACEMAKER_MONITOR_USER_PASS=

#-----------------------------------------------------------
# drdb-master
#-----------------------------------------------------------

DRBD_DEVICE=/dev/sdb1
DRBD_LOCAL_IP=${CTRL1_IP}
DRBD_PARTNER_IP=${CTRL2_IP}
DRBD_PATH_TO_MOUNT=${TRIX_ROOT}

#-----------------------------------------------------------
# slurm-master
#-----------------------------------------------------------

SLURM_CTRL1_HOST=${CTRL1_IP}
SLURM_CTRL2_HOST=${CTRL2_IP}
SLURM_FLOATING_IP=${CTRL_IP}

#-----------------------------------------------------------
# NFS-master
#-----------------------------------------------------------

NFS_HA_MOUNTPOINT=${TRIX_ROOT}
NFS_SHARED_INFODIR="${NFS_HA_MOUNTPOINT}/nfsinfo"
NFS_PARTNER_HOST=${CTRL2_IP}
NFS_FLOATING_IP=${CTRL_IP}
