
################################################################################
##
##  CENTRAL CONFIGURATION FILE
##
##  Controller nodes
##
################################################################################

# This file is a valid Bash script that will be sourced by the installer script
# to obtain the configuration for the type of node.

# HOWTO
# =====
#
# - Do not assume that post scripts provide sane defaults if you comment out any
#   configuration item. If it's there and the script is in the list that will
#   run, better set a value.


#===============================================================================
#
#  GENERAL CONFIGURATION
#
#===============================================================================

# Directory in which the post scripts are located.
# If it is a relative path, then it is relative to the directory where this file
# resides.

POSTDIR="controller"

# Array of required post scripts, in the order in which they will run.
# NOTE: Those are basenames, without any extension -- not the actual name of the
#       script files themselves.

POSTLIST=( \
            standard-configuration \
            yum-cache \
            hosts \
            local-repos \
            base-packages \
            additional-repos \
            additional-packages \
            yum-update \
            firewalld \
            chronyd \
            environment-modules \
            rdma-centos \
            nfs-server \
            openldap \
            sssd \
         )


#===============================================================================
#
#  HA CONFIGURATION
#
#===============================================================================

# Do we want HA?
# Comment out to disable HA, set to 1 to enable it.

HA=1

# Default hostname and IP for the controller
# In an HA pair, those are the hostname and IP for the first controller.
# Those variables are required, with or without HA.

CTRL1_HOSTNAME=controller1
CTRL1_IP=10.30.255.254

# In a non-HA setup, all of the following variables will be ignored:
# - the variables for CTRL will be set to the same as CTRL1;
# - the variables for CTRL2 will be unset.

# Hostname and IP of the second controller

CTRL2_HOSTNAME=controller2
CTRL2_IP=10.30.255.253

# Floating hostname and IP

CTRL_HOSTNAME=controller
CTRL_IP=10.30.255.252



#===============================================================================
#
#  SCRIPT-SPECIFIC CONFIGURATION
#
#===============================================================================

#-----------------------------------------------------------
# standard-configuration
#-----------------------------------------------------------

# Path to which Trinity will be installed:

STDCFG_TRIX_ROOT="/trinity"

# Trinity version number:

STDCFG_TRIX_VERSION=10

# Permit SSH login as root? (0 or 1)

STDCFG_SSHROOT=1


#-----------------------------------------------------------
# yum-cache
#-----------------------------------------------------------

# Clear yum cache before installing anything?
# This is mostly useful to make sure that the cache will not have any leftover
# package from some other repo, so that we can have a clean list of packages
# for an offline installation later.
# In doubt, don't clear the cache.
# Set to 1 to clear the cache, comment out to keep it.

#YUM_CLEAR_CACHE=0


#-----------------------------------------------------------
# local-repos
#-----------------------------------------------------------

# Disable all remote repositories?
# This is only useful for offline installations where the systems will be
# permanently cut off from the internet. In that case there's no point trying to
# connect to the remote servers.
# You will need to populate a local repository with all the packages that will
# be needed during the installation.
# Don't disable them if you're not 100% sure of what you're doing.
# Set to 1 to disable them, comment out otherwise.

#REPOS_DISABLE_REMOTE=0


#-----------------------------------------------------------
# additional-repos
#-----------------------------------------------------------

# List of repository GPG key files.
# There is no coherent naming convention for those, so list them all here.
# They should be available in the "additional-repos" subdirectory.

ADDREPOS_KEYS="RPM-GPG-KEY-elrepo.org RPM-GPG-KEY-ZABBIX"


#-----------------------------------------------------------
# firewalld
#-----------------------------------------------------------

# The standard configuration uses only 2 zones: Public and Trusted.
# For interfaces that should have a different set of rules, please do the
# configuration by hand.

# All interfaces that are *not* listed in the variables below will not be
# touched.

# List of interfaces that will be added or moved to the Public zone.
# By default, only SSH and DHCP6 are allowed in the Public zone, all other
# incoming connections are blocked.

FWD_PUBLIC_IF="eth2"

# List of interfaces that will be added or moved to the Trusted zone.
# By default, everything is open in the Trusted zone.

FWD_TRUSTED_IF="eth0 eth1"

# Set up IP Masquerading (NAT) for the public zone.
# It is highly recommended to have only one interface in the public zone if this
# option is selected.
# If commented out or set to zero, no NAT will be set up.

FWD_NAT_PUBLIC=1

# Open HTTPS port on the public interface?

FWD_HTTPS_PUBLIC=1


#-----------------------------------------------------------
# chronyd
#-----------------------------------------------------------

# List of upstream NTP servers, space-separated.
# If commented out, the default pool servers will be used.

#CHRONY_UPSTREAM=""

# Provide NTP service on the internal networks?
# - if comment out or set to 0, it will be disabled.
# - if set to 1, it will run for all networks.
# - if set to a space-separated list of subnets, it will run only for those
#   subnets. See the chrony documentation for the exact syntax:
#   https://chrony.tuxfamily.org/manual.html

CHRONY_SERVER=1


#-----------------------------------------------------------
# nfs-server
#-----------------------------------------------------------

# NFS options for the shared directory:

NFS_SHARED_OPTS="ro,no_root_squash"

# NFS options for the exported HOME directory:
# Comment out to disable home sharing over NFS.

NFS_HOME_OPTS="rw,no_subtree_check,async,no_root_squash"

# Number of RPC threads:
# Comment out to leave the default number of threads.

NFS_HOME_RPCCOUNT=256


#-----------------------------------------------------------
# openldap
#-----------------------------------------------------------

# LDAP server ID:

SLAPD_SERVER_ID=1

# LDAP root password:
# Will be generated if unset

# SLAPD_ROOT_PW=


#-----------------------------------------------------------
# mariadb
#-----------------------------------------------------------

# Will be generated if unset

# MYSQL_ROOT_PASSWORD=


#-----------------------------------------------------------
# slurm
#-----------------------------------------------------------

# Slurmdbd credentials

SLURMDBD_MYSQL_DB="slurm_accounting"
SLURMDBD_MYSQL_USER="slurm_accounting"

# Will be generated if unset

# SLURMDBD_MYSQL_PASS=


#-----------------------------------------------------------
# zabbix
#-----------------------------------------------------------

# Zabbix credentials

ZABBIX_MYSQL_USER="zabbix"
ZABBIX_MYSQL_DB='zabbix'
ZABBIX_DATABASE_OVERWRITE="no"


#-----------------------------------------------------------
# luna
#-----------------------------------------------------------

# Luna network configuration

LUNA_FRONTEND=10.30.255.254
LUNA_NETWORK=10.30.0.0
LUNA_PREFIX=16
LUNA_DHCP_RANGE_START=10.30.128.1
LUNA_DHCP_RANGE_END=10.30.255.200

