
################################################################################
##
##  CONFIGURATION FILE for TESTING ENVIRONMENT EMASTER
##
################################################################################

# Sourcing the default config 
mydir="$(dirname "$1")"
source "${mydir}/staging.cfg"

# Network Interfaces
FWD_PUBLIC_IF="eth0"
FWD_TRUSTED_IF="ens9"

