
######################################################################
# TrinityX
# Copyright (c) 2016  ClusterVision B.V.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License (included with the sources) for more
# details.
######################################################################


################################################################################
##
##  CONFIGURATION FILE for OPENSTACK COMPUTE IMAGE CONFIGURATION
##
################################################################################

# Source the default config 
source "${POST_CONFDIR}/images-setup-compute.cfg"

#-----------------------------------------------------------
# postscripts list
#-----------------------------------------------------------

POSTLIST=( \
            standard-configuration-nodes \
            hosts-nodes \
            local-repos \
            base-packages \
            yum-update \
            additional-repos \
            additional-packages \
            openstack-repos \
            chrony \
            luna-nodes \
            nova-nodes \
            neutron-nodes \
            zabbix-agent \
         )



#-----------------------------------------------------------
# openstack services
#-----------------------------------------------------------

# Hostname and IP address of the openstack controller

OS_CTRL_HOSTNAME=os-controller
OS_CTRL_IP=10.30.254.254

# The name of the network interface attached to the management network

OS_COMPUTE_MGMT_NIC=eth0

# The name of the network interface attached to the tunneling network

OS_COMPUTE_TUN_NIC=eth1

# If NEUTRON_USE_OPENVSWITCH is set to 1, the neutrn-openvswitch agent will be installed
# and configured. Otherwise neutron-linuxbridge will be installed by default

NEUTRON_USE_OPENVSWITCH=1

