
######################################################################
# TrinityX
# Copyright (c) 2016  ClusterVision B.V.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License (included with the sources) for more
# details.
######################################################################


################################################################################
##
##  CENTRAL CONFIGURATION FILE
##
##  Setup for a compute node
##
##          **  DO NOT APPLY THIS CONFIGURATION SCRIPT BY HAND **
##
################################################################################

# This file is a valid Bash script that will be sourced by the installer script
# to obtain the configuration for the type of node.


#===============================================================================
#
#  GENERAL CONFIGURATION
#
#===============================================================================

# Directory in which the post scripts are located.
# If it is a relative path, then it is relative to the directory where this file
# resides.

POSTDIR="images"

# Array of required post scripts, in the order in which they will run.
# NOTE: Those are basenames, without any extension -- not the actual name of the
#       script files themselves.

POSTLIST=( \
            standard-configuration-nodes \
            hosts-nodes \
            local-repos \
            base-packages \
            yum-update \
            additional-repos \
            additional-packages \
            chrony \
            environment-modules \
            rdma-centos \
            nfs-nodes \
            luna-nodes \
            openldap-nodes \
            sssd \
            slurm-pre \
            slurm-nodes \
            # docker \
            rsyslog-nodes \
            applications \
            zabbix-agent \
         )


# Directory in which the configuration will be applied. This is required for
# configuring images on the controller.
# As the directory name will be dynamically generated by the image creation
# script (which must be ran before this one), there's not much point in setting
# a default value. The image creation script will export the correct value, and
# it is also possible to specify it on the command line using the --chroot
# option.

#CHROOT=

# Just to make sure that this config isn't applied to the controller by
# accident, let's require a chroot:

CHROOT_REQUIRED=1



#===============================================================================
#
#  SCRIPT-SPECIFIC CONFIGURATION
#
#===============================================================================

#-----------------------------------------------------------
# standard-configuration-nodes
#-----------------------------------------------------------

# Permit SSH login as root? (0 or 1)

STDCFG_SSHROOT=1

# Set up the controller as the default gateway for all interfaces?

STDCFG_CTRL_GATEWAY=1


#-----------------------------------------------------------
# local-repos
#-----------------------------------------------------------

# Disable all remote repositories?
# This is only useful for offline installations where the systems will be
# permanently cut off from the internet. In that case there's no point trying to
# connect to the remote servers.
# You will need to populate a local repository with all the packages that will
# be needed during the installation.
# Don't disable them if you're not 100% sure of what you're doing.
# Set to 1 to disable them, comment out otherwise.

#REPOS_DISABLE_REMOTE=0


#-----------------------------------------------------------
# chrony
#-----------------------------------------------------------

# List of upstream NTP servers, space-separated.
# If commented out, the default pool servers will be used.
# If set to an empty string, the cluster controllers will be used. This is only
# useful for client images.

CHRONY_UPSTREAM=""

# Provide NTP service on the internal networks?
# - if comment out or set to 0, it will be disabled.
# - if set to 1, it will run for all networks.
# - if set to a space-separated list of subnets, it will run only for those
#   subnets. See the chrony documentation for the exact syntax:
#   https://chrony.tuxfamily.org/manual.html

#CHRONY_SERVER=1


#-----------------------------------------------------------
# sssd
#-----------------------------------------------------------

# Space separated list of the groups that can access the controllers
# Any user that does not belong to one of these will be denied access

COMPUTE_ALLOWED_GROUPS="admins users"


