
######################################################################
# TrinityX
# Copyright (c) 2016  ClusterVision B.V.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License (included with the sources) for more
# details.
######################################################################


################################################################################
##
##  OpenStack controller nodes configuration
##
################################################################################

# Sourcing the default config 
source "${POST_CONFDIR}/controller-nonHA.cfg"

#-----------------------------------------------------------
# list of postscripts
#-----------------------------------------------------------

POSTDIR="."

POSTLIST=( \
            # postscripts that do not require trinity.sh
            controller/yum-cache \
            controller/local-repos \
            controller/base-packages \
            controller/additional-repos \
            openstack/openstack-repos \
            openstack/additional-packages \
            controller/yum-update \
            controller/hosts \
            controller/firewalld \
            controller/chrony \

            # Critical section begins here ------------------
            # Do not change the order of those post scripts!
            controller/critical-section-beginning \
            controller/ssh
            controller/critical-section-end \
            # Critical section ends here --------------------

            controller/mariadb \
            openstack/rabbitmq \
            openstack/keystone \
            openstack/glance \
            openstack/nova \
            openstack/neutron \
            openstack/cinder \
            openstack/horizon \
            controller/zabbix-agent \
         )


#-----------------------------------------------------------
# hostname and IP
#-----------------------------------------------------------

# Default hostname and IP for the controller
# These variables are required.

CTRL1_HOSTNAME=os-controller
CTRL1_IP=10.30.254.254


#-----------------------------------------------------------
# firewalld
#-----------------------------------------------------------

# The standard configuration uses only 2 zones: Public and Trusted.
# For interfaces that should have a different set of rules, please do the
# configuration by hand.

# All interfaces that are *not* listed in the variables below will not be
# touched.

# List of interfaces that will be added or moved to the Public zone.
# By default, only SSH and DHCP6 are allowed in the Public zone, all other
# incoming connections are blocked.

FWD_PUBLIC_IF="eth1"

# List of interfaces that will be added or moved to the Trusted zone.
# By default, everything is open in the Trusted zone.

FWD_TRUSTED_IF="br-ex eth2"

# Set up IP Masquerading (NAT) for the public zone.
# It is highly recommended to have only one interface in the public zone if this
# option is selected.
# If commented out or set to zero, no NAT will be set up.

FWD_NAT_PUBLIC=0

# List of TCP ports to open on the public interface

FWD_TCP_PUBLIC=( \
    80   \
    443  \
    # AMQP 
    5672 \
    # Nova, Cinder
    8773-8776 \
    # VM Consoles
    5900-5999 \
    # VNC \
    6080-6082 \
    # Keystone admin
    35357 \
    # Keystone public
    5000 \
    # Glance API
    9292 \
    # Glance Registry
    9191 \
    # Neutron
    9696 \
)

# List of UDP ports to open on the public interface

FWD_UDP_PUBLIC=( )


#-----------------------------------------------------------
# rabbitmq
#-----------------------------------------------------------

# The password used by the openstack user to connect to rabbitmq

# OS_RMQ_PW=


#-----------------------------------------------------------
# keystone
#-----------------------------------------------------------

# KEYSTONE_DB_PW=
# ADMIN_PW=


#-----------------------------------------------------------
# glance
#-----------------------------------------------------------

# GLANCE_DB_PW=
# GLANCE_PW=


#-----------------------------------------------------------
# nova
#-----------------------------------------------------------

# NOVA_DB_PW=
# NOVA_PW=


#-----------------------------------------------------------
# neutron
#-----------------------------------------------------------

# NEUTRON_DB_PW=
# NEUTRON_PW=

# If NEUTRON_USE_OPENVSWITCH is set to 1, the neutrn-openvswitch agent will be installed
# and configured. Otherwise neutron-linuxbridge will be installed by default

NEUTRON_USE_OPENVSWITCH=1

# The IP address of the interface used for handling VXLAN/GRE project networks
# on the network node. Networking won't work properly unless this is defined.

NEUTRON_TUN_IP=10.31.253.254

# The name of the interface used to handle external networks on the network node.
# North-south network traffic won't work properly unless this is defined.

NEUTRON_EXT_NIC=eth0

#-----------------------------------------------------------
# cinder
#-----------------------------------------------------------

# CINDER_DB_PW=
# CINDER_PW=


#-----------------------------------------------------------
# horizon
#-----------------------------------------------------------

HORIZON_ALLOWED_HOSTS="[\"localhost\", \"$CTRL_IP\", \"$CTRL_HOSTNAME\"]"


