
######################################################################
# Trinity X
# Copyright (c) 2016  ClusterVision B.V.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License (included with the sources) for more
# details.
######################################################################


################################################################################
##
##  OpenStack controller nodes configuration
##
################################################################################

# Sourcing the default config 
source "${POST_CONFDIR}/controller.cfg"

#-----------------------------------------------------------
# list of postscripts
#-----------------------------------------------------------

POSTDIR="openstack"

POSTLIST=( \
            standard-configuration \
            yum-cache \
            hosts \
            local-repos \
            base-packages \
            yum-update \
            additional-repos \
            additional-packages \
            chrony \
            mariadb \
            rabbitmq \
            keystone \
            glance \
            nova \
            neutron \
            cinder \
            horizon \
            zabbix-agent \
         )


#-----------------------------------------------------------
# hostname and IP
#-----------------------------------------------------------

# Default hostname and IP for the controller
# These variables are required.

CTRL1_HOSTNAME=os-controller
CTRL1_IP=10.30.254.254


#-----------------------------------------------------------
# rabbitmq
#-----------------------------------------------------------

# The password used by the openstack user to connect to rabbitmq

# OS_RMQ_PW=


#-----------------------------------------------------------
# keystone
#-----------------------------------------------------------

# KEYSTONE_DB_PW=
# ADMIN_PW=


#-----------------------------------------------------------
# glance
#-----------------------------------------------------------

# GLANCE_DB_PW=
# GLANCE_PW=


#-----------------------------------------------------------
# nova
#-----------------------------------------------------------

# NOVA_DB_PW=
# NOVA_PW=


#-----------------------------------------------------------
# neutron
#-----------------------------------------------------------

# NEUTRON_DB_PW=
# NEUTRON_PW=

# If NEUTRON_USE_OPENVSWITCH is set to 1, the neutrn-openvswitch agent will be installed
# and configured. Otherwise neutron-linuxbridge will be installed by default

NEUTRON_USE_OPENVSWITCH=1

# The IP address of the interface used for handling VXLAN/GRE project networks
# on the network node. Networking won't work properly unless this is defined.

NEUTRON_TUN_IP=10.31.253.254

# The name of the interface used to handle external networks on the network node.
# North-south network traffic won't work properly unless this is defined.

NEUTRON_EXT_NIC=eth0

#-----------------------------------------------------------
# cinder
#-----------------------------------------------------------

# CINDER_DB_PW=
# CINDER_PW=


#-----------------------------------------------------------
# horizon
#-----------------------------------------------------------

HORIZON_ALLOWED_HOSTS="[\"controller\", \"localhost\", \"$CTRL_IP\"]"


