---
cluster: TrinityX
title: "Remote Desktop"

attributes:
  desktop: 
    value: "{{ ood_interactive_apps_vnc_desktops_default }}"
    options: ["{{ ood_interactive_apps_vnc_desktops }}"]
  bc_vnc_idle:
    value: "{{ ood_interactive_apps_vnc_idle_timeout }}"
    label: "Idle timeout"
    help: This is the time you have to connect to a session before it is automatically terminated
  bc_account:
    help: "This can be left blank most of the time"
  modules:
    value: "ood-vnc"

batch_connect:
  websockify_cmd: "/usr/bin/websockify"

form:
  - modules
  - cluster
  - bc_vnc_idle
  - desktop
  - bc_account
  - bc_num_hours
  - bc_num_slots
  - node_type
  - bc_queue
  - bc_vnc_resolution
  - bc_email_on_started
