#%Module1.0#####################################################################

proc ModulesHelp { } {

puts stderr " "
puts stderr "This module adds the OOD VNC environment"
puts stderr " "


}

prepend-path    PATH                /opt/TurboVNC/bin
setenv          WEBSOCKIFY_CMD      /usr/bin/websockify
setenv          SHELL=/bin/bash #"$(getent passwd $USER | cut -d: -f7)"
setenv          XDG_SESSION_TYPE=x11
setenv          GDK_BACKEND=x11
