---

- block:

  - name: Git Clone Code Server
    git:
      repo: https://github.com/OSC/bc_osc_codeserver.git
      dest: "{{ trix_ood }}/{{ ood_portal_version }}/trinity_codeserver"
      force: true

  - name: Set The Cluster Name
    lineinfile:
      dest: "{{ trix_ood }}/{{ ood_portal_version }}/trinity_codeserver/form.yml.erb"
      regexp: '^.*cluster: (.*)$'
      line: 'cluster: "{{ ood_portal_cluster_name }}"'

  - name: Correct The Description
    template:
        src: 'manifest.yml'
        dest: "{{ trix_ood }}/{{ ood_portal_version }}/trinity_codeserver/manifest.yml"

  - name: Creating Symlink for Code Server
    file:
      src: "{{ trix_ood }}/{{ ood_portal_version }}/trinity_codeserver"
      dest: "/var/www/ood/apps/sys/trinity_codeserver"
      state: link
      mode: 0755
      owner: root
      group: root

  when: 
    - on_controller|default(False)
    - ansible_connection not in 'chroot'

# Rhel
- name: Install Code Server 4.89.0 for Rhel
  block:

  - name: Install Code Server 4.89.0
    dnf:
      name: "https://github.com/coder/code-server/releases/download/v4.89.0/code-server-4.89.0-amd64.rpm"
      disable_gpg_check: true
      state: present

  when: 
  - ansible_connection in 'chroot'
  - ansible_facts['os_family'] == "RedHat"

# Debian 
- name: Install Code Server 4.89.0 for Debian
  block:

  - name: Create temporary folder for Code Server
    ansible.builtin.tempfile:
      state: directory
    register: temp_dir

  - name: Download Code Server 4.89.0 to temp folder
    get_url:
      url: "https://github.com/coder/code-server/releases/download/v4.89.0/code-server_4.89.0_amd64.deb"
      validate_certs: false
      dest: "{{ temp_dir.path }}/code-server_4.89.0_amd64.deb"

  - name: Install Code Server 4.89.0
    apt:
      deb:  "{{ temp_dir.path }}/code-server_4.89.0_amd64.deb"
      state: present

  - name: Install Code Server DEB 4.89.0 Dependencies
    shell: "apt-get install -yf"

  when: 
    - ansible_connection in 'chroot'
    - ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
