#%Module1.0#####################################################################

proc ModulesHelp { } {

puts stderr " "
puts stderr "This module adds the OOD Python environment"
puts stderr " "


}

source-sh /opt/ood-jupyter-virtualenv/bin/activate