#%Module1.0#####################################################################

proc ModulesHelp { } {

puts stderr " "
puts stderr "This module adds the OOD Python environment"
puts stderr " "


}

prepend-path    PATH                /usr/bin/python
setenv          WEBSOCKIFY_CMD      /usr/bin/python


