---
# vars file for luna

luna_packages:
  - luna

luna_user_id: 2008
luna_group_id: 2008

luna:
  cluster:
    frontend_address: '10.141.255.252'
    path: '/opt/luna'
    named_include_file: '/trinity/local/etc/named.luna.zones'
    named_zone_dir: '/trinity/local/var/lib/named'
  dhcp: 
    conf_path: '/etc/dhcp'
    network: 'cluster'
    start_ip: '10.141.128.0'
    end_ip:  '10.141.140.0'
  networks:
    - name: 'cluster'
      ip: '10.141.0.0'
      prefix: '16'

luna_repository: https://updates.clustervision.com/trix/trix.repo
