<?php

{{ ansible_managed | comment('c') }}

// Zabbix GUI configuration file.
global $DB;
$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = 'localhost';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{ zabbix_sql_db }}';
$DB['USER']     = '{{ zabbix_sql_user }}';
$DB['PASSWORD'] = '{{ zabbix_sql_pwd }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = 'local cluster';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;

