{{ ansible_managed | comment }}

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid
DBName={{ zabbix_sql_db }}
DBUser={{ zabbix_sql_user }}
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=4
AlertScriptsPath={{ zabbix_script_path }}/alertscripts
ExternalScripts={{ zabbix_script_path }}/externalscripts
LogSlowQueries=3000
DBHost=localhost
DBPassword={{ zabbix_sql_pwd }}
SourceIP={{ trix_ctrl_ip }}
StartPollers=20
StartIPMIPollers=20
StartPollersUnreachable=10
StartPingers=10
StartSNMPTrapper=1
CacheSize=128M
HistoryCacheSize=128M
TrendCacheSize=128M
Timeout=30
