---

- name: Get image path
  set_fact:
    image_path: "{{ trix_images }}/{{ image_name }}"

- name: Create dir for compute image
  file:
    name: "{{ image_path }}"
    state: directory

- name: Set facts
  set_fact:
    data:
      trix_ctrl_hostname: "{{ trix_ctrl_hostname }}"
      trix_ctrl_ip: "{{ trix_ctrl_ip }}"
      luna_username: "{{ luna_username }}"
      luna_password: "{{ luna_password }}"
      luna_secret_key: "{{ luna_secret_key }}"
      luna_protocol: "{{ luna_protocol }}"
      trix_domain: "{{ trix_domain }}"
      luna_verify_certificate: "{{ luna_verify_certificate }}"
      trix_stream: "{{ trix_stream }}"
      system_arch: "{{ system_arch }}"
      package_arch: "{{ package_arch }}"
      trix_use_openldap: "{{ trix_use_openldap | default(True) }}"
      trix_use_ds389: "{{ trix_use_ds389 | default(False) }}"

- name: Create facts file
  copy:
    dest: "{{ image_path }}/facts.dat"
    content: "{{ data }}"


