---
- name: Make .ssh root directory
  file:
    path: "{{ image_path }}/root/.ssh"
    mode: 0700
    owner: root
    group: root
    state: directory

- name: Ensure /etc/trinity/passwords/images/{{ image_name }} exists
  file:
    path: '/etc/trinity/passwords/images/{{ image_name }}'
    state: directory

- name: Store root password if defined
  template:
    src: root.txt
    dest: '/etc/trinity/passwords/images/{{ image_name }}/root.txt'
  when: image_password|default([])

- name: Generate SSH keys
  user:
    name: root
    generate_ssh_key: true
    ssh_key_file: "{{ image_path }}/root/.ssh/id_rsa"

- name: Add controller's key to authorized keys
  authorized_key:
    user: root
    state: present
    key: '{{ lookup("file", "/root/.ssh/id_rsa.pub") }}'
    path: "{{ image_path }}/root/.ssh/authorized_keys"

- name: Add cluster key to authorized keys
  authorized_key:
    user: root
    state: present
    key: '{{ lookup("file", "/root/.ssh/id_cluster_rsa.pub") }}'
    path: "{{ image_path }}/root/.ssh/authorized_keys"
  when: ha | default(False)

- name: Create node config directory
  file:
    path: '{{ image_path }}/{{ trix_luna }}/node/config/'
    state: directory

- name: Render node luna.ini
  template:
    src: 'luna2.ini.j2'
    dest: '{{ image_path }}/{{ trix_luna }}/node/config/luna.ini'
    owner: root
    group: root
    mode: 0640

- name: Configuring resolv.conf
  copy:
    dest: "{{ image_path }}/etc/resolv.conf"
    content: "nameserver {{ trix_ctrl_ip }}"

- block:
  - synchronize:
      src: "/etc/yum.repos.d/redhat.repo"
      dest: "{{ image_path }}/etc/yum.repos.d/redhat.repo"
    ignore_errors: true

  - name: Ensure Certificate path exists
    file:
      path: "{{ image_path }}/etc/rhsm/ca/"
      state: directory

  - name: Sync RHEL subscription certificates
    copy:
      src: /etc/rhsm/ca/redhat-uep.pem
      dest: "{{ image_path }}/etc/rhsm/ca/redhat-uep.pem"
    ignore_errors: true

  #- name: Sync RHEL subscription and entitlements
  #  shell: "rsync --delete -arv /etc/pki/entitlement/ {{ image_path }}/etc/pki/entitlement/ && rsync --delete -arv /var/lib/rhsm/ {{ image_path }}/var/lib/rhsm/"
  #  ignore_errors: true

  - synchronize:
      src: "/etc/pki/"
      dest: "{{ image_path }}/etc/pki/"
    ignore_errors: true

  - name: Fix Certificate locations in repo
    replace:
      path: "{{ image_path }}/etc/yum.repos.d/redhat.repo"
      regexp: '/trinity/images/compute-image'
      replace: ''
    ignore_errors: true
  when: ansible_distribution == "RedHat"
  tags: subscription
