---
- name: Load a variable file based on the OS type, or a default if not found. Using free-form to specify the file.
  include_vars: "{{ package_arch }}/image-{{ image_create_distribution }}.yaml"
  no_log: true
  ignore_errors: true

# this include is needed after making an osgrabbed image needs to be trinity-fied

# commented block not needed? image setup will generate repos and below is using repos on controller - Antoine
#
# - name: Include trinity/roles
#  ansible.builtin.include_role:
#    name: trinity/repos
#  vars:
#    params:
#       install_root: "{{ image_path }}"
#  tags: repos


- name: Install core packages - @core, kernel and grub2
  dnf:
    disable_gpg_check: true
    name: "{{ item }}"
    state: present
  with_items: "{{ image_core_packages }}"
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Install missing elfutils-libs on RedHat
  dnf:
    disable_gpg_check: true
    name: "elfutils-libs"
    state: present
  when: ansible_distribution == "RedHat"
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Add dracut.conf.d entries
  template:
    src: trinity.conf.j2
    dest: "/etc/dracut.conf.d/trinity.conf"
