---

# this include is needed after making an osgrabbed image needs to be trinity-fied

# commented block not needed? image setup will generate repos and below is using repos on controller - Antoine
#
# - name: Include trinity/roles
#  ansible.builtin.include_role:
#    name: trinity/repos
#  vars:
#    params:
#       install_root: "{{ image_path }}"
#  tags: repos

- block:
- name: Install core packages - @core, kernel and grub2
  dnf:
    disable_gpg_check: true
    name: "{{ image_core_packages }}"
    state: present
    installroot: "{{ image_path }}"
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

- name: Install missing elfutils-libs on RedHat
  dnf:
    disable_gpg_check: true
    name: "elfutils-libs"
    state: present
    installroot: "{{ image_path }}"
  when: ansible_distribution == "RedHat"
  retries: "{{ rpm_retries | default(3) }}"
  delay: "{{ rpm_delay | default(15) }}"

