---

apiVersion: 1

# datasources:
#   - name: TrinityX-InfluxDB
#     type: influxdb
#     access: proxy
#     database: telegraf
#     orgId: 1
#     isDefault: true
#     url: "http://{{ ansible_default_ipv4.address }}:8086"
#     editable: false
#     jsonData:
#       timeInterval: "10s"
#   - name: Slurm-InfluxDB
#     type: influxdb
#     access: proxy
#     database: slurm
#     orgId: 1
#     isDefault: false
#     url: "http://{{ ansible_default_ipv4.address }}:8086"
#     editable: false
#     jsonData:
#       timeInterval: "1m"
#   - name: SlurmAccounting-InfluxDB
#     type: influxdb
#     access: proxy
#     database: slurm_acct
#     orgId: 1
#     isDefault: false
#     url: "http://{{ ansible_default_ipv4.address }}:8086"
#     editable: false
#     jsonData:
#       timeInterval: "30s"

{% if grafana_prometheus_url | length > 0 %}
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: {{ grafana_prometheus_url }}
    editable: false
    isDefault: true
{% endif %}