---

apiVersion: 1

{% if grafana_prometheus_url | length > 0 %}
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: {{ grafana_prometheus_url }}
    editable: false
    isDefault: true
    uid: trixprometheus
{% endif %}
