{
  "DhcpDdns": {
    "ip-address": "::0",
    "port": 53001,
    "dns-server-timeout": 100,
    "ncr-protocol": "UDP",
    "ncr-format": "JSON",

    "forward-ddns": {
      "ddns-domains": [
        {
          "name": "cluster.",
          "key-name": "tsig-key",
          "dns-servers": [
            {
              "ip-address": "127.0.0.1"
            }
          ]
        }
        {
          "name": "ipmi.",
          "key-name": "tsig-key",
          "dns-servers": [
            {
              "ip-address": "127.0.0.1"
            }
          ]
        }
      ]
    },

    "reverse-ddns": {
      "ddns-domains": [
        {
          "name": "in-addr.arpa.",
          "key-name": "tsig-key",
          "dns-servers": [
            {
              "ip-address": "127.0.0.1"
            }
          ]
        }
      ]
    },

    "tsig-keys": [
      {
        "name": "tsig-key",
        "algorithm": "{{ tsig_key_algo }}",
        "secret": "{{ tsig_key_secret }}"
      }
    ]
  }
}

