[Unit]
Description = Luna 2 Daemon
After = network.target

[Service]
PIDFile = /run/trinity/luna.pid
WorkingDirectory = {{ trix_luna }}/daemon
ExecStartPre = /bin/mkdir /run/trinity
ExecStart = /bin/bash -c "source {{ trix_local }}/python/bin/activate && {{ trix_local }}/python/bin/gunicorn --config {{ trix_luna }}/daemon/config/gunicorn.py 'luna:daemon' --pid /run/trinity/luna.pid"
ExecReload = /bin/kill -s HUP
ExecStop = /bin/kill -s TERM
ExecStopPost = /bin/rm -rf /run/trinity
StandardOutput=null

[Install]

WantedBy = multi-user.target
