---
- block:
  - name: Collect repository information
    shell: "rpm -qil {{ outer_loop_var.name }} | grep '\\.repo$' | grep etc || true"
    register: repo_files
    with_items: "{{ outer_loop_var }}"

  - debug:
      msg: "{{ repo_files }}"

  - name: Calling baseurl task
    include_tasks: usebaseurlinc.yml
    with_items: "{{ repo_files.results }}"
    loop_control:
      loop_var: inner_loop_var
    ignore_errors: true
  when: outer_loop_var is defined
